<ng-container *ngFor="let popup of popups_arr">
  <dynamic-popup [config]="popup" (saved)="update($event)"></dynamic-popup>
</ng-container>

<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">New Patient</h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<!-- form with tab -->
<div class="row">
  <div class="col-md-12">
    <div class="tabbable-line boxless tabbable-reversed">
      <div class="tab-content no-border">
        <div class="tab-pane active" >
          <div  class="alert alert-danger" [ngClass]="{'display-hide':!error}">
            <button class="close" data-close="alert"></button>
              You have some form errors. Please check below.
            </div>

          <div class="alert alert-success" [ngClass]="{'display-hide':!success}">
            <button class="close" (click)="success=false"></button>
              Patient data was added successfully .
          </div>


          <div class="m-heading-1 border-blue m-bordered">
            <p>The Patient consents to the use of personal data for the provision of optometric services and optical goods</p>
          </div>
          <div class="panel-group accordion" id="accordion3">
            <form [formGroup]="registerationForm" (ngSubmit)="add_patient($event)">
              <!-- 1st accordation -->
              <div class="panel panel-default margin_acc">
                <div class="panel-heading portlet box blue no_margin">
                  <h4 class="panel-title">
                    <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_1"> Personal Info</a>
                  </h4>
                </div>
                <div id="collapse_3_1" class="panel-collapse in">
                  <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="col-md-12 blue-border">
                      <!-- BEGIN VALIDATION STATES-->
                      <!-- BEGIN FORM-->
                      <div class="form-body form-no-padding">
                        <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-md-12 control-label">Title<span class="required">*</span>
                              </label>
                              <div class="col-md-6">
                                <select class="form-control select2" name="title" formControlName="title">
                                  <option value="Mr.">Mr.</option>
                                  <option value="Mrs.">Mrs.</option>
                                  <option value="Ms.">Ms.</option>
                                  <option value="Dr.">Dr.</option>
                                  <option value="Mst.">Mst.</option>
                                </select>
                                <div class="form-control-focus">
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group form-md-radios">
                            <label class="col-md-12 control-label" for="form_control_1">Gender</label>
                            <div class="col-md-12">
                              <div class="md-radio-inline">
                              <div class="md-radio">
                                <input type="radio" formControlName="gender" id="checkbox1_8" value="male" class="md-radiobtn" Checked="Checked">
                                <label for="checkbox1_8">
                                <span>
                                </span>
                                <span class="check">
                                </span>
                                <span class="box">
                                </span> Male</label>
                              </div>
                              <div class="md-radio">
                                <input  type="radio"  formControlName="gender" id="checkbox1_9" value="female" class="md-radiobtn">
                                <label for="checkbox1_9">
                                <span>
                                </span>
                                <span class="check">
                                </span>
                                <span class="box">
                                </span> Female</label>
                              </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="divider"></div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="col-md-12 control-label">First Name<span class="required">*</span>
                          </label>
                          <div class="col-md-12">
                            <input  type="text" tabindex="1" formControlName="first_name" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="col-md-12 control-label">Middle Name</label>
                          <div class="col-md-12">
                            <input type="text"  tabindex="2" formControlName="middle_name" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="col-md-12 control-label">Last Name<span class="required">*</span></label>
                            <div class="col-md-12">
                              <input type="text" tabindex="3" formControlName="last_name" class="form-control">
                              </div>
                            </div>
                          </div>
                          <div style="clear:both;"></div>
                          <div class="divider"></div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="col-md-12 control-label">Date of Birth<span class="required">*</span></label>
                          <div class="col-md-12">
                            <input type="text"  tabindex="4" formControlName="dob" class="form-control example1" placeholder="dd/mm/yyyy" name="dob">
                            </div>
                          </div>
                        </div>
                          <div class="col-md-4">
                          <div class="form-group">
                            <label class="col-md-12 control-label">National ID</label>
                            <div class="col-md-12">
                              <input type="text" tabindex="5" formControlName="national_id" class="form-control" placeholder="" value="" name="patient_id">
                              </div>
                            </div>
                          </div>
                          <div style="clear:both;"></div>
                          <div class="divider"></div>
                </div>
                <!-- END VALIDATION STATES-->
                </div>
                <!-- END 1st FORM-->
                </div>
                </div>
                <!-- panel body close -->
                </div>
                          <!-- panel close -->
                          <!-- 1st accordation end -->
                          <div style="clear:both;"></div>


                          <!-- 2nd accordation -->
                          <div class="panel panel-default margin_acc">
                            <div class="panel-heading portlet box blue no_margin">
                              <h4 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_2"> Insurance Information</a>
                              </h4>
                            </div>

                            <div id="collapse_3_2" class="panel-collapse in">
                              <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <div class="col-md-12 blue-border">
                                  <!-- BEGIN VALIDATION STATES-->
                                  <!-- BEGIN FORM-->
                                  <div class="form-body form-no-padding">
                                    <div class="alert alert-danger display-hide">
                                      <button class="close" data-close="alert">
                                        </button> You have some form errors. Please check below. </div>
                                        <div class="alert alert-success display-hide">
                                          <button class="close" data-close="alert">
                                            </button> Your form validation is successful! </div>
                                            <div class="col-md-4">
                                              <div class="form-group form-md-radios">
                                                <label class="col-md-12 control-label" for="form_control_1">Insured Patient </label>
                                                <div class="col-md-12">
                                                  <div class="md-radio-inline">
                                                    <div class="md-radio ins_yes">
                                                      <input   type="radio"  id="checkbox1_6" formControlName="insured" value="true" class="form-body form-no-padding ins_yes" >
                                                        <label for="checkbox1_6" class="ins_yes">
                                                          <span>
                                                          </span>
                                                          <span class="check">
                                                          </span>
                                                          <span class="box">
                                                          </span> Yes</label>
                                                          </div>
                                                          <div class="md-radio ins_no">
                                                            <input  type="radio"   id="checkbox1_7" formControlName="insured" value="false" class="form-body form-no-padding ins_no">
                                                              <label for="checkbox1_7">
                                                                <span>
                                                                </span>
                                                                <span class="check">
                                                                </span>
                                                                <span class="box">
                                                                  </span>No</label>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                          <div class="form-group">
                                                            <label class="col-md-12 control-label">Insurance Company Name</label>
                                                            <div class="col-md-12">
                                                              <input tabindex="6" type="text" formControlName="insurance_company_name" class="form-control" [readonly]="registerationForm.controls.insured.value=='false'">
                                                              </div>
                                                            </div>
                                                          </div>
                                                          <div class="col-md-4">
                                                            <div class="form-group">
                                                              <label class="col-md-12 control-label">Insurance Number</label>
                                                              <div class="col-md-12">
                                                                <input tabindex="7" type="text"   [readonly]="registerationForm.controls.insured.value=='false'" formControlName="insurance_number" class="form-control" >
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                          <!-- END VALIDATION STATES-->
                                                        </div>
                                                        <!-- END 1st FORM-->
                                                      </div>
                                                    </div>
                                                    <!-- panel body close -->
                                                  </div>
                                                  <!-- panel close -->
                                                  <div style="clear:both;">
                                                  </div>
                                                  <!-- 2nd accordation end -->
                                                  <!-- 2nd accordation -->




                                                  <div class="panel panel-default margin_acc">
                                                    <div class="panel-heading portlet box blue no_margin">
                                                      <h4 class="panel-title">
                                                        <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_3"> Contact Info</a>
                                                      </h4>
                                                    </div>
                                                    <div id="collapse_3_3" class="panel-collapse in">
                                                      <div class="portlet-body form">
                                                        <!-- BEGIN FORM-->
                                                        <div class="col-md-12 blue-border">
                                                          <!-- BEGIN VALIDATION STATES-->
                                                          <!-- BEGIN FORM-->
                                                          <div class="form-body form-no-padding">

                                                                    <div class="col-md-4">
                                                                      <div class="form-group">
                                                                        <label class="col-md-12 control-label" for="form_control_1">Country</label>
                                                                        <div class="col-md-12">
                                                                          <select formControlName="country" class="form-control select2">
                                                                            <option value="kenya">Kenya</option>
                                                                          </select>
                                                                        </div>
                                                                        </div>
                                                                      </div>
                                                                      <div class="col-md-4">
                                                                        <div class="form-group">
                                                                          <label class="col-md-12 control-label" for="form_control_1">State</label>
                                                                          <div class="col-md-12">
                                                                            <select  formControlName="state" class="form-control select2" name="state" >
                                                                              <option value="-">-</option>
                                                                            </select>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                      <div class="col-md-4">
                                                                        <div class="form-group">
                                                                          <label class="col-md-12 control-label" for="form_control_1">Town/City</label>
                                                                          <div class="col-md-10">
                                                                            <select formControlName="city" class="form-control select2" name="city" >
                                                                              <option *ngFor="let city of cities" value="{{city._id}}">{{city.name}}</option>
                                                                            </select>
                                                                          </div>
                                                                          <div class="col-md-2" id="town">
                                                                            <a data-toggle="modal" href="#city">
                                                                            <div  class="btn btn-sm btn-default btn-circle">
                                                                              <i class="fa fa-plus"></i>
                                                                            </div>
                                                                            </a>
                                                                          </div>
                                                                          </div>
                                                                        </div>
                                                                        <div style="clear:both;">
                                                                        </div>
                                                                        <div class="divider">
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                          <div class="form-group">
                                                                            <label class="col-md-12 control-label" for="form_control_1">District</label>
                                                                            <div class="col-md-10">
                                                                              <select  formControlName="district" class="form-control select2" name="district" >
                                                                                <option *ngFor="let district of districts" value="{{district._id}}">{{district.name}}</option>
                                                                              </select>
                                                                            </div>
                                                                            <a data-toggle="modal" href="#district">
                                                                            <div class="col-md-2" id="dist">
                                                                              <div class="btn btn-sm btn-default btn-circle">
                                                                                <i class="fa fa-plus">
                                                                                </i>
                                                                              </div>
                                                                            </div>
                                                                          </a>
                                                                            </div>
                                                                          </div>
                                                                          <div class="col-md-4">
                                                                            <div class="form-group">
                                                                              <label class="col-md-12 control-label" for="form_control_1">Address</label>
                                                                            <div class="col-md-12">
                                                                              <input tabindex="8" type="text" formControlName="address" class="form-control"  placeholder="" name="address">
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                          <div class="col-md-4">
                                                                            <div class="form-group">
                                                                              <label class="col-md-12 control-label" for="form_control_1">Postal Code (ZIP/PIN)          </label>
                                                                              <div class="col-md-12">
                                                                                <input tabindex="9" type="text" id="post_rcv"  formControlName="postal_code" class="form-control" placeholder="" name="postalcode">
                                                                                  <div class="form-control-focus">
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                            <div style="clear:both;">
                                                                            </div>
                                                                            <div class="divider">
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                              <div class="form-group">
                                                                                <label class="col-md-12 control-label" for="form_control_1">Mobile<span class="required">*</span></label>
                                                                                <div class="col-md-4 phone-code">
                                                                                  <span>+</span><input type="text" value="254" class="form-control inline">
                                                                                </div>
                                                                                <div class="col-md-8">
                                                                                  <input tabindex="10" type="text" id="phone_rcv"  formControlName="mobile" class="form-control phone_rcv" placeholder="" name="mobile">
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                              <div class="form-group">
                                                                                <label class="col-md-12 control-label" for="form_control_1">Home Phone          </label>
                                                                                <div class="col-md-4 phone-code">
                                                                                  <span>+</span><input type="text" value="254" class="form-control inline">
                                                                                </div>
                                                                                <div class="col-md-8">
                                                                                  <input tabindex="11" type="text" class="form-control" formControlName="home_phone" placeholder="">
                                                                                    <div class="form-control-focus">
                                                                                    </div>
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                              <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                  <label class="col-md-12 control-label" for="form_control_1">Work Phone          </label>
                                                                                  <div class="col-md-4 phone-code">
                                                                                    <span>+</span><input type="text" value="254" class="form-control inline">
                                                                                  </div>
                                                                                  <div class="col-md-8">
                                                                                    <input tabindex="12" type="text" class="form-control"  formControlName="work_phone" placeholder="" name="work_phone">
                                                                                      <div class="form-control-focus">
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                                </div>

                                                                                  <div style="clear:both;">
                                                                                  </div>
                                                                                  <div class="divider">
                                                                                  </div>
                                                                                  <div class="col-md-4">
                                                                                    <div class="form-group">
                                                                                      <label class="col-md-12 control-label" for="form_control_1">Email<span class="required">*</span></label>
                                                                                      <div class="col-md-12">
                                                                                        <input tabindex="13" type="text" id="email_rcv"  formControlName="email" class="form-control" placeholder="" name="email">
                                                                                          <div class="form-control-focus">
                                                                                          </div>
                                                                                        </div>
                                                                                      </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                      <div class="form-group form-md-checkboxes">
                                                                                        <label class="col-md-12 control-label" for="form_control_1">Patient agrees to receive</label>
                                                                                        <div class="col-md-12" >
                                                                                          <div class="md-checkbox-inline" formArrayName="receive_methods">
                                                                                            <div class="md-checkbox" *ngFor="let def of registerationForm.controls.receive_methods.controls; let i = index">
                                                                                              <input type="checkbox"  formControlName="{{i}}" id="checkbox1_{{i}}" value="phone" class="md-check">
                                                                                                <label for="checkbox1_{{i}}">
                                                                                                  <span>
                                                                                                  </span>
                                                                                                  <span class="check">
                                                                                                  </span>
                                                                                                  <span class="box">
                                                                                                  </span>{{methodsName[i]}}</label>
                                                                                                  </div>



                                                                                                                  </div>

                                                                                                                </div>
                                                                                                              </div>
                                                                                                            </div>
                                                                                                            <div style="clear:both;">
                                                                                                            </div>
                                                                                                            <div class="divider">
                                                                                                            </div>
                                                                                                            <div class="col-md-12">
                                                                                                              <div class="form-group">
                                                                                                                <label class="col-md-12 control-label">General Info              </label>
                                                                                                                <div class="col-md-12">
                                                                                                                  <textarea tabindex="14" class="form-control" formControlName="info" rows="3" name="gen_info">
                                                                                                                  </textarea>
                                                                                                                </div>
                                                                                                              </div>
                                                                                                            </div>
                                                                                                            <div style="clear:both;">
                                                                                                            </div>
                                                                                                            <div class="divider">
                                                                                                            </div>
                                                                                                            <div class="form-actions" style="border:0px;float:right;">
                                                                                                              <div class="row">
                                                                                                                <div class="col-md-12">
                                                                                                                  <input type="submit" class="btn blue"  name="submit" value="Save Only" [disabled]="!registerationForm.valid" />
                                                                                                                  <!--<button type="submit" class="btn blue">Save & Order</button>
                                                                                                                  <a href="patient_save_appointment.php" type="submit" class="btn blue">Save & Book Appointment</a>-->
                                                                                                                </div>
                                                                                                              </div>
                                                                                                              </div>
                                                                                                            </div>
                                                                                                            <!-- END VALIDATION STATES-->
                                                                                                          </div>
                                                                                                          <!-- END 1st FORM-->
                                                                                                        </div>
                                                                                                      </div>
                                                                                                      <!-- panel body close -->
                                                                                                    </div>
                                                                                                    <!-- panel close -->
                                                                                                    <div style="clear:both;">
                                                                                                    </div>
                                                                                                    <!-- 2nd accordation end -->
                                                                                                  </form>
                                                                                                </div>
                                                                                                <!-- close accordation -->
                                                                                              </div>
                                                                                              <!-- end 1st tab -->
                                                                                            </div>
                                                                                          </div>
                                                                                        </div>
                                                                                      </div>
