<h1 class="page-title">Inventory Search
</h1>


<div class="row">
  <div class="col-md-12">
    <div class="tabbable-line boxless tabbable-reversed">
      <div class="tab-content no-border">
        <div class="tab-pane active" >

          <div class="panel-group accordion" id="accordion3">
            <div class="panel panel-default margin_acc">
                  <div class="panel-heading portlet box blue no_margin">
                    <h4 class="panel-title">
                      <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_3"> Item Code Search </a>
                    </h4>
                  </div>
                  <div id="collapse_3_3" class="panel-collapse in">
                    <div class="portlet-body form">
                      <div class="col-md-12 blue-border">
                        <div class="form-body form-no-padding">


                          <div class="col-md-12">
                          <div class="form-group inline">
                            <div class="col-md-4 col-xs-6">
                            <input type="text" (keyup)="input($event)" tabindex="-1" [(ngModel)]="item_code" maxlength="5" class="form-control" placeholder="Enter Item Code" name="name">
                            </div>
                          </div>

                            <div class="col-md-1 col-xs-3">
                            <button type="submit" [disabled]="!item_code" (click)="search_by_item_code($event)" class="btn blue">Search</button>
                          </div>

                            <div class="col-md-2 col-xs-3">
                              <a class="text-center" data-toggle="modal" href="#advanced_search">Advance Search</a>
                            </div>
                          </div>

                          <div style="clear:both;"></div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>
                          <div style="clear:both;"></div>
                        <div class="panel-group accordion" id="accordion4">
                    <div class="panel panel-default margin_acc">
                          <div class="panel-heading portlet box blue no_margin">
                            <h4 class="panel-title">
                              <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion4" href="#collapse_3_4"> Search Result </a>
                            </h4>
                          </div>
                          <div id="collapse_3_4" class="panel-collapse in">
                            <div class="portlet-body form">
                              <div class="col-md-12 blue-border">
                                <div class="form-body form-no-padding">

                                  <div class="col-md-12">
                                    <div class="form-group">
                                      <label class="col-md-2 col-xs-12 control-label">Filters Applied
                                      </label>
                                      <div class="col-md-5 col-xs-12">
                                        <tag-input  [removable]="all_tags[0] !='None'" [(ngModel)]="all_tags" (onRemove)="advanced_search()" [(maxItems)]="all_tags.length" secondaryPlaceholder=""></tag-input>
                                      </div>

                                    </div>
                                  </div>
                                  <div style="clear:both;"></div>
                                  <div class="divider"></div>
                                  <div class="col-md-12 table-responsive">
                                  <table class="table table-condensed table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                                    <thead>
                                      <tr>
                                        <th>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                          <input type="checkbox" #all class="group-checkable"  name="checkAll"/>
                                          <span></span>
                                        </label></th>
                                        <th>Item Code</th>
                                        <th>Brand</th>
                                        <th>Model</th>
                                        <th>Price</th>
                                        <th>Supplier</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let inventory of inventories">
                                        <td>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                          <input type="checkbox" class="checkboxes"/>
                                          <span></span>
                                        </label>
                                        </td>
                                        <td><a routerLink="/details_inventory/{{inventory.item_code_str}}" >{{inventory.item_code_str}}</a></td>
                                        <td><a routerLink="/details_inventory/{{inventory.item_code_str}}" >{{inventory.brand}}</a></td>
                                        <td><a routerLink="/details_inventory/{{inventory.item_code_str}}" >{{inventory.model_name}}</a></td>
                                        <td><a routerLink="/details_inventory/{{inventory.item_code_str}}" >{{inventory.selling_price}}</a></td>
                                        <td><a routerLink="/details_inventory/{{inventory.item_code_str}}" >{{inventory.supplier}}</a></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  </div>
                                  <div style="clear:both;"></div>
                                    <div class="divider"></div>

                                    <div class="col-md-7 col-sm-7" *ngIf="total > 10">
                                      <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
                                        <ul class="pagination" style="visibility: visible;">
                                          <li class="prev" *ngIf="page > 1">
                                            <a href="#" (click)="first($event)" title="First"><i class="fa fa-angle-double-left"></i></a>
                                          </li>
                                          <li class="prev" *ngIf="page > 1">
                                            <a href="#" (click)="prev($event)" title="Prev"><i class="fa fa-angle-left"></i></a>
                                          </li>
                                          <li class="active">
                                            <span>{{page}}</span>
                                          </li>
                                          <li class="next">
                                            <a href="#" title="Next" (click)="next($event)" *ngIf="page < last_page"><i class="fa fa-angle-right"></i></a>
                                          </li>
                                          <li class="next">
                                            <a href="#" (click)="last($event)" *ngIf="page < last_page" title="Last"><i class="fa fa-angle-double-right"></i></a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div style="clear:both;"></div>
                                      <div class="divider"></div>
                                    <div class="col-md-12">
                                    <div class="form-actions" style="border:0px;float:right;">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <button class="btn blue"><i class="fa fa-user-md"></i>Export (csv)</button>
                                      </div>
                                    </div>
                                  </div>
                                  </div>

                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                        </div><!-- close accordation -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<style media="screen">
  div.ng2-tag-input[_ngcontent-c5]{
    border: none !important;
  }
</style>
              <app-advanced-search (searchData)="search($event)"></app-advanced-search>
