<h1 class="page-title">Add Inventory
</h1>


<div class="row">
  <div class="col-md-12">
    <div class="tabbable-line boxless tabbable-reversed">
      <div class="tab-content no-border">
        <div class="tab-pane active" >
          <div class="alert alert-danger " [ngClass]="{'display-hide':!error}">
            <button class="close" data-close="alert"></button>
              You have some form errors. Please try again.
            </div>

          <div class="alert alert-success" [ngClass]="{'display-hide':!success}">
            <button class="close" (click)="success=false"></button>
              Eye Exam was  successfully .
          </div>

          <div class="panel-group accordion" id="accordion3">
            <div class="panel panel-default margin_acc">
                  <div class="panel-heading portlet box blue no_margin">
                    <h4 class="panel-title">
                      <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_3"> Item Type </a>
                    </h4>
                  </div>
                  <div id="collapse_3_3" class="panel-collapse in">
                    <div class="portlet-body form">
                      <div class="col-md-12 blue-border">
                        <div class="form-body form-no-padding">
                          <div class="col-md-12 col-xs-12">
                            <div class="md-radio-inline">
                              <div class="md-radio">
                                <input tabindex="30" checked (change)="radioChange($event)" type="radio" id="checkbox1_1" name="prisms_for" value="1" class="form-body form-no-padding">
                                <label for="checkbox1_1">
                                  <span></span>
                                  <span class="check"></span>
                                  <span class="box"></span>Frames
                                </label>
                                </div>
                                <div class="md-radio">
                                  <input tabindex="31" (change)="radioChange($event)" type="radio"  id="checkbox1_2" name="prisms_for" value="2" class="form-body form-no-padding">
                                  <label for="checkbox1_2">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span>Sun Glass
                                  </label>
                                  </div>
                                  <div class="md-radio">
                                    <input tabindex="32" (change)="radioChange($event)" type="radio"  id="checkbox1_3" name="prisms_for" value="3" class="form-body form-no-padding">
                                    <label for="checkbox1_3">
                                      <span></span>
                                      <span class="check"></span>
                                      <span class="box"></span>Contact Lens</label>
                                    </div>
                                    <div class="md-radio">
                                      <input tabindex="32" (change)="radioChange($event)" type="radio"  id="checkbox1_5" name="prisms_for" value="4" class="form-body form-no-padding">
                                      <label for="checkbox1_5">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>Lens</label>
                                      </div>
                                    <div class="md-radio">
                                      <input tabindex="33" (change)="radioChange($event)" type="radio" id="checkbox1_4" name="prisms_for" value="5" class="form-body form-no-padding">
                                      <label for="checkbox1_4">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Accessories</label>
                                      </div>
                                    </div>
                                  </div>
                                    <div style="clear:both;"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                          <app-frame-inventory [(title)]="activeTabe" *ngIf="activeTabe=='1' || activeTabe=='2'"></app-frame-inventory>
                          <app-lens-inventory *ngIf="activeTabe=='4'"></app-lens-inventory>
                          <app-cis-inventory *ngIf="activeTabe=='3'"></app-cis-inventory>
                          <app-accessories-inventory *ngIf="activeTabe=='5'"></app-accessories-inventory>
                        </div><!-- close accordation -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
