<div class="page-footer" style="text-align:right">
    <div class="page-footer-inner" style="float:none"> 2017 &copy;
        <a  href="#" style="color:#FFF">OptiCareSolution</a> &nbsp;|&nbsp;

    </div>
    <!--<div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>-->
</div>
