<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">Contact Lens Exam
</h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->

<!-- form with tab -->
<div class="row">
  <div class="col-md-12">
    <div class="tabbable-line boxless tabbable-reversed">
      <div class="tab-content no-border">
        <div class="tab-pane active" >
          <div class="alert alert-danger " [ngClass]="{'display-hide':!error}">
            <button class="close" data-close="alert"></button>
              You have some form errors. Please try again.
            </div>

          <div class="alert alert-success" [ngClass]="{'display-hide':!success}">
            <button class="close" (click)="success=false"></button>
              Lens Exam was {{operation}} successfully .
          </div>

          <div class="panel-group accordion" id="accordion3">
            <form action="#" [formGroup]="lensForm" id="form_sample_1">
              <!-- 1st accordation -->

              <div class="panel panel-default margin_acc">
                <div class="panel-heading portlet box blue no_margin">
                  <h4 class="panel-title">
                    <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_1"> Overview </a>
                  </h4>
                </div>
                <div id="collapse_3_1" class="panel-collapse in">
                  <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="col-md-12 blue-border">
                      <!-- BEGIN VALIDATION STATES-->

                      <!-- BEGIN FORM-->

                      <div class="form-body form-no-padding">

                        <div class="col-md-12 no-padding">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-md-12 control-label">Patient Name
                              </label>

                              <div class="col-md-12 col-xs-12">
                                {{patient.title}}&nbsp;{{patient.first_name}}&nbsp;{{patient.last_name}}
                              </div>


                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-md-12 control-label">Date Of Birth
                              </label>

                              <div class="col-md-12 col-xs-12">
                                {{patient.dob}}
                              </div>

                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-md-12 control-label">Examination Label
                              </label>

                              <div class="col-md-12 col-xs-12">
                                {{lensExam.ex_label}}
                              </div>

                            </div>
                          </div>
                          <div style="clear:both;"></div>
                          <div class="divider"></div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-md-12 control-label">Optometrist
                              </label>
                              <div class="col-md-12 col-xs-12">
                                <select formControlName="optometrist" class="form-control" name="title">
                                  <option value="-">-</option>
                                </select>
                              </div>
                            </div>
                          </div>


                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-md-12 control-label">Examination Date
                              </label>
                              <div class="col-md-12">
                                <input tabindex="1" type="text" formControlName="examination_date" class="form-control example1" placeholder="" name="examination_date" value="22/04/2017">
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <!-- END VALIDATION STATES-->
                    </div>
                    <!-- END 1st FORM-->
                  </div>
                </div><!-- panel body close -->
              </div><!-- panel close -->
              <div style="clear:both;"></div>
              <!-- 1staccordation end -->




              <div class="panel panel-default margin_acc">
                <div class="panel-heading portlet box blue no_margin">
                  <h4 class="panel-title">
                    <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_9"> Final Prescription</a>
                  </h4>
                </div>
                <div id="collapse_3_9" class="panel-collapse in">
                  <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="col-md-12 blue-border">
                      <!-- BEGIN VALIDATION STATES-->

                      <!-- BEGIN FORM-->

                      <div class="form-body form-no-padding">

                        <div class="col-md-12 no-padding">

                          <div class="table-responsive">
                            <table class="table table-bordered tbl_head">
                              <thead>
                                <tr>
                                  <th></th>
                                  <th>Base Curve</th>
                                  <th>Diameter</th>
                                  <th>Sph</th>
                                  <th>Cyl</th>
                                  <th>Axis</th>
                                  <th>Add</th>
                                  <th>Add Type</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="tbl_head_td">RE</td>
                                  <td>
                                    <div class="form-group">
                                      <select  name="r_base_curve" formControlName="r_base_curve" class="form-control select2 " aria-hidden="false">
                                        <option value="-">-</option>
                                        <optgroup>
                                          <option *ngFor="let option of base_curve_arr" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>

                                  <td>
                                    <div class="form-group">
                                      <select  name="r_diameter" formControlName="r_diameter" class="form-control select2 " aria-hidden="false">
                                        <option value="-">-</option>
                                        <optgroup>
                                          <option *ngFor="let option of diameter_arr" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>

                                  <td>
                                    <div class="form-group">
                                      <select  name="r_sph" formControlName="r_sph" class="form-control select2 " aria-hidden="false">
                                        <option value="-">-</option>
                                        <optgroup>
                                          <option *ngFor="let option of sph_values" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>

                                  <td>
                                    <div class="form-group">
                                      <select  name="r_cyl" formControlName="r_cyl" class="form-control select2 " aria-hidden="false">
                                        <option value="-">-</option>
                                        <optgroup>
                                          <option *ngFor="let option of cyl_values" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>

                                  <td>
                                    <div class="form-group">
                                      <select  name="r_axis" formControlName="r_axis" class="form-control select2 " aria-hidden="false">
                                        <option value="-">-</option>
                                        <optgroup>
                                          <option *ngFor="let option of axis_values" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>

                                  <td>
                                    <div class="form-group">
                                      <select  name="r_add" formControlName="r_add" class="form-control select2 " aria-hidden="false">
                                        <option value="-">-</option>
                                        <optgroup>
                                          <option *ngFor="let option of add_arr" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>

                                  <td>
                                    <div class="form-group">
                                      <select  name="l_addType" formControlName="l_addType" class="form-control select2 " aria-hidden="false">
                                        <option value="-">-</option>
                                        <option value="low">Low</option>
                                        <option value="medium">Medium</option>
                                        <option value="high">High</option>
                                      </select>
                                    </div>
                                  </td>
                                </tr>

                                <tr>
                                  <td class="tbl_head_td">LE</td>
                                  <td>
                                    <div class="form-group">
                                      <select  name="l_base_curve" formControlName="l_base_curve" class="form-control select2 " aria-hidden="false">
                                        <option value="-">-</option>
                                        <optgroup>
                                          <option *ngFor="let option of base_curve_arr" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <select  name="l_diameter" formControlName="l_diameter" class="form-control select2 " aria-hidden="false">
                                        <option value="-">-</option>
                                        <optgroup>
                                          <option *ngFor="let option of diameter_arr" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>

                                  <td>
                                    <div class="form-group">
                                      <select  name="l_sph" formControlName="l_sph" class="form-control select2 " aria-hidden="false">
                                        <option value="-">-</option>
                                        <optgroup>
                                          <option *ngFor="let option of sph_values" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>

                                  <td>
                                    <div class="form-group">
                                      <select  name="l_cyl" formControlName="l_cyl" class="form-control select2 " aria-hidden="false">
                                        <option value="-">-</option>
                                        <optgroup>
                                          <option *ngFor="let option of cyl_values" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>

                                  <td>
                                    <div class="form-group">
                                      <select  name="l_axis" formControlName="l_axis" class="form-control select2 " aria-hidden="false">
                                        <option value="-">-</option>
                                        <optgroup>
                                          <option *ngFor="let option of axis_values" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>

                                  <td>
                                    <div class="form-group">
                                      <select  name="l_add" formControlName="l_add" class="form-control select2 " aria-hidden="false">
                                        <option value="-">-</option>
                                        <optgroup>
                                          <option *ngFor="let option of add_arr" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>

                                  <td>
                                    <div class="form-group">
                                      <select  name="l_addType" formControlName="l_addType" class="form-control select2 " aria-hidden="false">
                                        <option value="-">-</option>
                                        <option value="low">Low</option>
                                        <option value="medium">Medium</option>
                                        <option value="high">High</option>
                                      </select>
                                    </div>
                                  </td>
                                </tr>


                              </tbody>
                            </table>
                          </div>

                          <!-- SECOND TABLE -->
                          <div style="clear:both;"></div>
                          <div class="divider"></div>
                          <div class="table-responsive">
                            <table class="table table-bordered tbl_head">
                              <thead>
                                <tr>
                                  <th></th>
                                  <th>D V/A </th>
                                  <th>D Binoc</th>
                                  <th>N V/A</th>
                                  <th>N Binco</th>
                                  <th>CL Brand</th>
                                  <th>CL Name</th>
                                  <th>CL Color</th>
                                </tr>
                              </thead>
                              <tbody>


                                <tr>
                                  <td class="tbl_head_td">RE</td>
                                  <td>
                                    <div class="form-group">
                                      <input tabindex="2" type="text" formControlName="r_dva"  class="form-control" placeholder="" name="r_dva">
                                    </div>
                                  </td>
                                  <td rowspan="2" valign="center">
                                    <div class="form-group">
                                      <input tabindex="3" type="text" formControlName="r_dbinoc"  class="form-control" placeholder="" name="r_dbinoc">
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <input tabindex="4" type="text" formControlName="r_nva"  class="form-control" placeholder="" name="r_nva">
                                    </div>
                                  </td>
                                  <td rowspan="2" valign="center">
                                    <div class="form-group">
                                      <input tabindex="5" type="text" formControlName="r_nBinco"  class="form-control" placeholder="" name="r_nBinco">
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <input tabindex="6" type="text" formControlName="r_clBrand"  class="form-control" placeholder="" name="r_clBrand">
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <input tabindex="7" type="text" formControlName="r_clName"  class="form-control" placeholder="" name="r_clName">
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <input tabindex="8" type="text" formControlName="r_clColor"  class="form-control" placeholder="" name="r_clColor">
                                    </div>
                                  </td>
                                </tr>

                                <tr>
                                  <td class="tbl_head_td">LE</td>
                                  <td>
                                    <div class="form-group">
                                      <input tabindex="9" type="text" formControlName="l_dva"  class="form-control" placeholder="" name="l_dva">
                                    </div>
                                  </td>

                                  <td>
                                    <div class="form-group">
                                      <input tabindex="10" type="text" formControlName="l_nva"  class="form-control" placeholder="" name="l_nva">
                                    </div>
                                  </td>

                                  <td>
                                    <div class="form-group">
                                      <input tabindex="11" type="text" formControlName="l_clBrand"  class="form-control" placeholder="" name="l_clBrand">
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <input tabindex="12" type="text" formControlName="l_clName"  class="form-control" placeholder="" name="l_clName">
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <input tabindex="13" type="text" formControlName="l_clColor"  class="form-control" placeholder="" name="l_clColor">
                                    </div>
                                  </td>
                                </tr>

                              </tbody>
                            </table>
                          </div>


                          <!-- THIRD TABLE -->
                          <div style="clear:both;"></div>
                          <div class="divider"></div>
                          <div class="table-responsive">
                            <table class="table table-bordered tbl_head">
                              <thead>
                                <tr>
                                  <th>Wearing Mode</th>
                                  <th>Days</th>
                                  <th>Hours</th>
                                  <th>Solution</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="form-group">
                                      <select  name="wearingMode" formControlName="wearingMode" class="form-control select2 " aria-hidden="false">
                                        <option value="1">Daily</option>
                                        <option value="14">2 Weekly</option>
                                        <option value="30">Monthly</option>
                                        <option value="90">3 Monthly</option>
                                        <option value="365">Yearly</option>
                                      </select>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <input tabindex="14" type="text" formControlName="days"  class="form-control" placeholder="" name="days">
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <input tabindex="15" type="text" formControlName="hours"  class="form-control" placeholder="" name="hours">
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <input tabindex="16" type="text" formControlName="solution"  class="form-control" placeholder="" name="solution">
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          </div>
                        </div>
                      </div>
                      <!-- END 1st FORM-->
                    </div>
                  </div><!-- panel body close -->
                </div><!-- panel close -->



                <div style="clear:both;"></div>
                <!-- 4th accordation -->
                <div class="panel panel-default margin_acc">
                  <div class="panel-heading portlet box blue no_margin">
                    <h4 class="panel-title">
                      <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_4"> Recall Details</a>
                    </h4>
                  </div>
                  <div id="collapse_3_4" class="panel-collapse in">
                    <div class="portlet-body form">
                      <div class="col-md-12 blue-border">
                        <div class="form-body form-no-padding">
                          <div class="col-md-6 form-no-padding">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label class="col-md-4 col-xs-12 control-label">Re-examination After
                                </label>
                                <div class="col-md-6 col-xs-12">
                                  <select (change)="reExamination_change()" formControlName="reExamination_after" class="form-control" name="title">
                                    <option *ngFor="let period of reExaminate_after_arr" value="{{period}}">{{period}} Month<span *ngIf="period>1">s</span></option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div style="clear:both;"></div>
                            <div class="divider_height"></div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label class="col-md-4 col-xs-12 control-label">Re-examination Advised
                                </label>
                                <div class="col-md-6 col-xs-12">
                                  <input  tabindex="34" readonly formControlName="reExamination_advised"  type="text" class="form-control example1" placeholder="" name="name" >
                                </div>
                              </div>
                            </div>
                            <div style="clear:both;"></div>
                            <div style="clear:both;"></div>
                            <div class="divider_height"></div>
                          </div>
                          <div class="col-md-6 form-no-padding">
                            <div class="form-group form-md-checkboxes">
                              <div class="col-md-12" formArrayName="recall_details">
                                <div class="md-checkbox" *ngFor="let def of lensForm.controls.recall_details.controls; let i = index">
                                  <input tabindex="35" type="checkbox" name="recall_details" formControlName="{{i}}" id="checkbox_11{{i}}" value="{{i}}" class="md-check">
                                  <label for="checkbox_11{{i}}">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span>{{recall_values[i]}}</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                <div style="clear:both;"></div>

                <div class="panel panel-default margin_acc">
                  <div class="panel-heading portlet box blue no_margin">
                    <h4 class="panel-title">
                      <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_5"> Other Details</a>
                    </h4>
                  </div>
                  <div id="collapse_3_5" class="panel-collapse in">
                    <div class="portlet-body form">
                      <div class="col-md-12 blue-border">
                        <div class="form-body form-no-padding">


                            <div class="col-md-6">
                              <h4 class="margin_btm_20">Internal Notes</h4>
                              <textarea tabindex="17" formControlName="internal_notes" class="form-control" rows="3" name="name"></textarea>
                            </div>
                            <div class="col-md-6">
                              <h4 class="margin_btm_20">Advice Given</h4>
                              <textarea tabindex="18" formControlName="advice_given" class="form-control" rows="3" name="name"></textarea>
                            </div>
                            <div style="clear:both;"></div>
                            <div class="divider"></div>
                            <div class="col-md-12">

                              <div class="form-actions" style="border:0px;float:right;">
                                <div class="row">
                                  <div class="col-md-12">
                                    <button class="btn blue" (click)="lens_exam()">{{btn_title}}</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="clear:both;"></div>



            </form>
          </div><!-- close accordation -->
        </div>
      </div>
    </div>
  </div>
</div>
