.page-title{
  font-weight: bold !important;
}

.inline{
  display: inline !important;
  width: 85% !important;
}

.phone-code{
  padding: 0 !important;
  padding-left: 5% !important;
}

.phone-code span{
  font-weight: bold;
  margin-right: 2px;
}
