<ng-container *ngFor="let popup of popups_arr">
  <dynamic-popup [config]="popup" (saved)="update($event)"></dynamic-popup>
</ng-container>
<div style="clear:both;"></div>

<app-feedback-component [msg]="msg" (statusChanged)="close()" [error]="error" [success]="success" ></app-feedback-component>

<form action="#" [formGroup]="inventory_form"  id="form_sample_1">

<!-- 1st accordation -->

    <div class="panel panel-default margin_acc">
                              <div class="panel-heading portlet box blue no_margin">
                                  <h4 class="panel-title">
                                      <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_1"> {{title}}</a>
                                  </h4>
                              </div>
      <div id="collapse_3_1" class="panel-collapse in">
                              <div class="portlet-body form">

                                  <!-- BEGIN FORM-->
        <div class="col-md-12 blue-border">
          <!-- BEGIN VALIDATION STATES-->

              <!-- BEGIN FORM-->

                <div class="form-body form-no-padding">

                    <div class="col-md-4">
                    <div class="form-group">
                    <label class="col-md-12 control-label">Item Code
                    </label>

                    <div class="col-md-12">
                      <input type="text" formControlName="item_code_str" class="form-control" value="00001" readonly name="item_code_str">
                    </div>
                  </div>
                  </div>

                  <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-md-12 control-label">Supplier
                    </label>
                  <div class="col-md-10">
                  <select class="form-control" formControlName="supplier" name="supplier">
                    <option *ngFor="let s of suppliers" value="{{s._id}}">{{s.name}}</option>
                  </select>
                </div>
                <div class="col-md-2">
                <a  data-toggle="modal" href="#supplier" class="btn btn-sm btn-default pop_up_btn">
                <i class="fa fa-plus"></i></a>
                </div>
                  </div>
                  </div>


                  <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-md-12 control-label">Brand
                    <span class="required" aria-required="true">*</span>
                    </label>
                  <div class="col-md-10">
                  <select class="form-control" formControlName="brand" name="brand">
                    <option *ngFor="let brand of brands" value="{{brand._id}}">{{brand.name}}</option>
                  </select>
                </div>
                <div class="col-md-2">
                <a  data-toggle="modal" href="#brand" class="btn btn-sm btn-default pop_up_btn">
                <i class="fa fa-plus"></i></a>
                </div>
                  </div>
                  </div>


                  <div style="clear:both;"></div>
                  <div class="divider"></div>

                  <div class="col-md-4">
                    <div class="form-group">
                    <label class="col-md-12 control-label">Model Name
                    <span class="required" aria-required="true">*</span>
                    </label>

                    <div class="col-md-12">
                      <input type="text" tabindex="1" formControlName="model_name" name="model" class="form-control" placeholder="">
                    </div>
                  </div>
                  </div>



                  <div class="col-md-4">
                    <div class="form-group">
                    <label class="col-md-12 control-label">Model Number
                    <span class="required" aria-required="true">*</span>
                    </label>

                    <div class="col-md-12">
                      <input type="text" tabindex="2" formControlName="model_number" name="model" class="form-control" placeholder="">
                    </div>
                  </div>
                  </div>

                  <div class="col-md-3">
                  <div class="form-group">
                    <label class="col-md-12 control-label">Size
                    <span class="required" aria-required="true">*</span>
                    </label>
                  <div class="col-md-12">
                  <input type="text" formControlName="size" tabindex="3" class="form-control size" placeholder="" name="size">
                  </div>
                  </div>
                  </div>

                  <div style="clear:both;"></div>
                  <div class="divider"></div>



                  <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-md-12 control-label">Colour
                    <span class="required" aria-required="true">*</span>
                    </label>
                  <div class="col-md-10">
                  <select class="form-control" formControlName="colour" name="colour">
                    <option *ngFor="let colour of colours" value="{{colour._id}}">{{colour.name}}</option>
                  </select>
                </div>
                <div class="col-md-2">
                <a  data-toggle="modal" href="#colour" class="btn btn-sm btn-default pop_up_btn">
                <i class="fa fa-plus"></i></a>
                </div>
                  </div>
                  </div>


                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-md-12 control-label">Gender
                      </label>
                    <div class="col-md-12">

                      <div class="md-radio-inline">

                      <div class="md-radio">
                        <input type="radio" formControlName="gender" id="checkbox1_8" value="male" class="md-radiobtn" checked="checked">
                        <label for="checkbox1_8">
                        <span>
                        </span>
                        <span class="check">
                        </span>
                        <span class="box">
                        </span> Male</label>
                      </div>
                      <div class="md-radio">
                        <input  type="radio"  formControlName="gender" id="checkbox1_9" value="female" class="md-radiobtn">
                        <label for="checkbox1_9">
                        <span>
                        </span>
                        <span class="check">
                        </span>
                        <span class="box">
                        </span> Female</label>
                      </div>
                      <div class="md-radio">
                        <input  type="radio"  formControlName="gender" id="checkbox1_10" value="unisex" class="md-radiobtn">
                        <label for="checkbox1_10">
                        <span>
                        </span>
                        <span class="check">
                        </span>
                        <span class="box">
                        </span> Unisex</label>
                      </div>
                    </div>
                  </div>
                    </div>
                    </div>


                    <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-md-12 control-label">Materials
                        <span class="required" aria-required="true">*</span>

                      </label>
                    <div class="col-md-12">
                    <select class="form-control" formControlName="materials" name="materials">
                      <option value="">-</option>
                    </select>
                    </div>
                    </div>
                    </div>




                <div style="clear:both;"></div>
                <div class="divider"></div>

                <div class="col-md-4">
                <div class="form-group">
                  <label class="col-md-12 control-label">Frame Type
                    <span class="required" aria-required="true">*</span>
                  </label>
                <div class="col-md-12">
                <select class="form-control select2" formControlName="frame_type" name="frame_type">
                  <option value="-">-</option>
                  <option value="1">Framed</option>
                  <option value="2">Rimless</option>
                  <option value="3">Semi Rimless</option>

                </select>
                </div>
                </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-md-12 control-label">Spring Hinge
                    </label>
                  <div class="col-md-12">

                    <div class="md-radio-inline">

                    <div class="md-radio">
                      <input type="radio" name="spring_hinge" formControlName="spring_hinge" id="checkbox1_12" value="yes" class="md-radiobtn" checked="checked">
                      <label for="checkbox1_12">
                      <span>
                      </span>
                      <span class="check">
                      </span>
                      <span class="box">
                      </span> Yes</label>
                    </div>
                    <div class="md-radio">
                      <input  type="radio" formControlName="spring_hinge" name="spring_hinge" id="checkbox1_11" value="no" class="md-radiobtn">
                      <label for="checkbox1_11">
                      <span>
                      </span>
                      <span class="check">
                      </span>
                      <span class="box">
                      </span> No</label>
                    </div>
                  </div>
                </div>
                  </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-md-12 control-label">Reorder Level
                      </label>
                    <div class="col-md-12">
                    <input type="text"  tabindex="4" formControlName="reorder_level" class="form-control" placeholder="" name="reorder_level">
                  </div>
                  </div>
                  </div>
                <div style="clear:both;"></div>
                <div class="divider"></div>



                <div class="col-md-4">
                  <div class="form-group">
                  <label class="col-md-12 control-label"> 	Quantity
                  <span class="required" aria-required="true">*</span>
                  </label>
                  <div class="col-md-12">
                    <input type="text" formControlName="quantity" tabindex="5" class="form-control" placeholder="" name="quantity">
                  </div>
                </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-md-12 control-label">Cost
                    </label>
                  <div class="col-md-12">
                  <input type="text"  tabindex="6" formControlName="cost" class="form-control" placeholder="" name="list_price">
                </div>
                </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-md-12 control-label">Selling Price<span class="required">*</span>
                    </label>
                  <div class="col-md-12">
                  <input type="text"  tabindex="8" formControlName="selling_price" class="form-control" placeholder="" name="selling_price">
                </div>
                </div>
                </div>


              <div style="clear:both;"></div>
              <div class="divider"></div>
              <div class="col-md-12">
              <div class="form-actions" style="border:0px;float:right;">
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn blue" (click)="save()">{{btn_msg}}</button>
                </div>
              </div>
            </div>
            </div>
          </div>

          <!-- END VALIDATION STATES-->
        </div>
                                  <!-- END 1st FORM-->
                              </div>
      </div><!-- panel body close -->
    </div><!-- panel close -->
    <!-- 1st accordation end -->
    <div style="clear:both;"></div>


    </form>
