<h1 class="page-title">New Order</h1>

<div class="row">
                <div class="col-md-12">
                    <div class="tabbable-line boxless tabbable-reversed">
                        <div class="tab-content no-border">
                            <div class="tab-pane active" >

      <div class="panel-group accordion" id="accordion3">
       <form action="#"  id="form_sample_1">
      <!-- 1st accordation -->

          <div class="panel panel-default margin_acc">
                                    <div class="panel-heading portlet box blue no_margin">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_1"> Patient Details</a>
                                        </h4>
                                    </div>
            <div id="collapse_3_1" class="panel-collapse in">
                                    <div class="portlet-body form">
                                        <!-- BEGIN FORM-->
              <div class="col-md-12 blue-border">
                <!-- BEGIN VALIDATION STATES-->

                    <!-- BEGIN FORM-->

                      <div class="form-body form-no-padding">

                        <div class="col-md-12 no-padding">
                        <div class="col-md-4">
                          <div class="form-group">
                          <label class="col-md-12 control-label">Patient Name
                          </label>

                          <div class="col-md-10 col-xs-10">
                            <input type="text" class="form-control" [(ngModel)]="patient_name" placeholder="" name="name">
                          </div>
                          <div class="col-md-2 col-xs-2">
                            <a  data-toggle="modal" href="#patient_search" class="btn btn-sm btn-default pop_up_btn">
                            <i class="fa fa-search"></i></a>
                          </div>

                        </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                          <label class="col-md-12 control-label">Dispensed By
                          </label>

                          <div class="col-md-12 col-xs-12">
                          <select class="form-control" name="title">
                          <option value="">lorem</option>
                          <option value="2">lorem</option>
                          <option value="3">lorem</option>
                          <option value="4">lorem</option>
                          </select>
                          </div>

                        </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                          <label class="col-md-12 control-label">Optometrist
                          </label>

                          <div class="col-md-12 col-xs-12">
                          <select class="form-control" name="title">
                          <option value="">lorem</option>
                          <option value="2">lorem</option>
                          <option value="3">lorem</option>
                          <option value="4">lorem</option>
                          </select>
                          </div>

                        </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="divider"></div>

                        <div class="col-md-4">
                        <div class="form-group">
                          <label class="col-md-12 control-label">Status
                          </label>
                        <div class="col-md-12 col-xs-12">
                          <select class="form-control" name="title">
                          <option value="">lorem</option>
                          <option value="2">lorem</option>
                          <option value="3">lorem</option>
                          <option value="4">lorem</option>
                          </select>
                          </div>
                        </div>
                        </div>

                        <div class="col-md-4">
                        <div class="form-group">
                          <label class="col-md-12 control-label">Drawer No
                          </label>
                        <div class="col-md-12 col-xs-12">
                            <input type="text" class="form-control" placeholder="" name="name">
                          </div>
                        </div>
                        </div>

                        <div class="col-md-4">
                        <div class="form-group">
                          <label class="col-md-12 control-label">Expected Delivery Date
                          </label>
                        <div class="col-md-12">
                        <input type="text" class="form-control example1" placeholder="" name="name">
                        </div>
                        </div>
                        </div>

                    </div>
                    </div>
                <!-- END VALIDATION STATES-->
              </div>
                                        <!-- END 1st FORM-->
                                    </div>
            </div><!-- panel body close -->
          </div><!-- panel close -->
          <div style="clear:both;"></div>
          <!-- 1staccordation end -->


          <!-- 2nd accordation -->

          <div class="panel panel-default margin_acc">
                                    <div class="panel-heading portlet box blue no_margin">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_2"> Product Details</a>
                                        </h4>
                                    </div>
            <div id="collapse_3_2" class="panel-collapse in">
                                    <div class="portlet-body form">
                                        <!-- BEGIN FORM-->
              <div class="col-md-12 blue-border">
                <!-- BEGIN VALIDATION STATES-->

                    <!-- BEGIN FORM-->

                      <div class="form-body form-no-padding">

                        <div class="col-md-12 no-padding">
                        <div class="col-md-3">
                          <div class="form-group">
                          <label class="col-md-12 control-label">Product Type
                          </label>

                          <div class="col-md-12 col-xs-12">
                          <select class="form-control" name="title">
                          <option value="">lorem</option>
                          <option value="2">lorem</option>
                          <option value="3">lorem</option>
                          <option value="4">lorem</option>
                          </select>
                          </div>

                        </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                          <label class="col-md-12 control-label">Frame Name
                          </label>

                          <div class="col-md-12 col-xs-12">
                          <select class="form-control" name="title">
                          <option value="">lorem</option>
                          <option value="2">lorem</option>
                          <option value="3">lorem</option>
                          <option value="4">lorem</option>
                          </select>
                          </div>

                        </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                          <label class="col-md-12 control-label">Exam Group
                          </label>

                          <div class="col-md-12 col-xs-12">
                          <select class="form-control" name="title">
                          <option value="">lorem</option>
                          <option value="2">lorem</option>
                          <option value="3">lorem</option>
                          <option value="4">lorem</option>
                          </select>
                          </div>

                        </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                          <label class="col-md-12 control-label">Exam Type
                          </label>

                          <div class="col-md-12 col-xs-12">
                          <select class="form-control" name="title">
                          <option value="">lorem</option>
                          <option value="2">lorem</option>
                          <option value="3">lorem</option>
                          <option value="4">lorem</option>
                          </select>
                          </div>

                        </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="divider"></div>

                        <div class="col-md-3">
                        <div class="form-group">
                          <label class="col-md-12 control-label">Size
                          </label>
                        <div class="col-md-12 col-xs-12">
                            <input type="text" class="form-control" placeholder="" name="name">
                          </div>
                        </div>
                        </div>

                        <div class="col-md-3">
                        <div class="form-group">
                          <label class="col-md-12 control-label">Color
                          </label>
                        <div class="col-md-12 col-xs-12">
                            <input type="text" class="form-control" placeholder="" name="name" >
                          </div>
                        </div>
                        </div>

                        <div class="col-md-2">
                        <div class="form-group">
                          <label class="col-md-12 control-label">Quantity
                          </label>
                        <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="" name="name">
                        </div>
                        </div>
                        </div>

                        <div class="col-md-2">
                        <div class="form-group">
                          <label class="col-md-12 control-label">Price
                          </label>
                        <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="" name="name">
                        </div>
                        </div>
                        </div>
                        <div class="col-md-2">
                        <div class="form-group">
                          <label class="col-md-12 control-label"> 	Discount
                          </label>
                        <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="" name="name">
                        </div>
                        </div>
                        </div>

                      <div style="clear:both;"></div>
                        <div class="divider"></div>

                        <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-md-12 control-label">Total Bill Amount
                          </label>
                        <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="" name="name" value="Z$0.00" readonly>
                        </div>
                        </div>
                        </div>

                        <div class="col-md-6">
                        <div class="form-actions" style="border:0px;float:right;">
                        <div class="row">
                          <div class="col-md-12">
                            <button type="submit" class="btn blue"><i class="fa fa-plus"></i>Add</button>
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="divider"></div>

                        <div class="table-responsive">
                        <table class="table table-bordered tbl_head" id="sample_1">
                          <thead>
                            <tr>
                              <th>
                              SL.NO</th>
                              <th>Item</th>
                              <th>Description</th>
                              <th>Size</th>
                              <th>Color</th>
                              <th>Qty</th>
                              <th>Price</th>
                              <th>Disc Amt</th>
                              <th>Disc %</th>
                              <th>TAX</th>
                              <th>Total</th>
                              <th></th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td colspan="13" style="text-align: center;font-weight: bold;">
                              Currently No Items Added
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                    </div>
                <!-- END VALIDATION STATES-->
              </div>
                                        <!-- END 1st FORM-->
                                    </div>
            </div><!-- panel body close -->
          </div><!-- panel close -->
          <div style="clear:both;"></div>
          <!-- 2nd accordation end -->


          <!-- 3rd accordation -->
          <div class="panel panel-default margin_acc">
                                    <div class="panel-heading portlet box blue no_margin">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_3"> Final Rx</a>
                                        </h4>
                                    </div>
            <div id="collapse_3_3" class="panel-collapse in">
                                    <div class="portlet-body form">
                                        <!-- BEGIN FORM-->
              <div class="col-md-12 blue-border">
                <!-- BEGIN VALIDATION STATES-->

                    <!-- BEGIN FORM-->

                      <div class="form-body form-no-padding">

                      <div class="table-responsive">
                        <table class="table table-bordered tbl_head">
                          <thead>
                            <tr>
                              <th> # </th>
                              <th>Sph</th>
                              <th>Cyl</th>
                              <th>Axis</th>
                              <th>HPrism</th>
                              <th>HBase</th>
                              <th>VPrism</th>
                              <th>VBase</th>
                              <th>NearAdd </th>
                              <th>InterAdd </th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="tbl_head_td">RE</td>
                              <td>
                              <div class="form-group">
                              <select class="form-control" name="title">
                              <option value="">Lorem</option>
                              <option value="2">Lorem</option>
                              <option value="3">Lorem</option>
                              <option value="4">Lorem</option>
                              </select>
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                                                                                            <select class="form-control" name="title">
                              <option value="">Lorem</option>
                              <option value="2">Lorem</option>
                              <option value="3">Lorem</option>
                              <option value="4">Lorem</option>
                              </select>

                              </div>
                              </td>
                              <td class="tbl_txt">
                              <div class="form-group">
                              <input type="text" class="form-control tbl_txt" placeholder="" name="name">
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <select class="form-control" name="title">
                              <option value="">Lorem</option>
                              <option value="2">Lorem</option>
                              <option value="3">Lorem</option>
                              <option value="4">Lorem</option>
                              </select>
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <select class="form-control" name="title">
                              <option value="">Lorem</option>
                              <option value="2">Lorem</option>
                              <option value="3">Lorem</option>
                              <option value="4">Lorem</option>
                              </select>
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <select class="form-control" name="title">
                              <option value="">Lorem</option>
                              <option value="2">Lorem</option>
                              <option value="3">Lorem</option>
                              <option value="4">Lorem</option>
                              </select>
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <select class="form-control" name="title">
                              <option value="">Lorem</option>
                              <option value="2">Lorem</option>
                              <option value="3">Lorem</option>
                              <option value="4">Lorem</option>
                              </select>
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <select class="form-control" name="title">
                              <option value="">Lorem</option>
                              <option value="2">Lorem</option>
                              <option value="3">Lorem</option>
                              <option value="4">Lorem</option>
                              </select>
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <select class="form-control" name="title">
                              <option value="">Lorem</option>
                              <option value="2">Lorem</option>
                              <option value="3">Lorem</option>
                              <option value="4">Lorem</option>
                              </select>
                              </div>
                              </td>

                            </tr>


                            <tr>
                              <td class="tbl_head_td">LE</td>
                              <td>
                              <div class="form-group">
                              <select class="form-control" name="title">
                              <option value="">Lorem</option>
                              <option value="2">Lorem</option>
                              <option value="3">Lorem</option>
                              <option value="4">Lorem</option>
                              </select>
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                                                                                            <select class="form-control" name="title">
                              <option value="">Lorem</option>
                              <option value="2">Lorem</option>
                              <option value="3">Lorem</option>
                              <option value="4">Lorem</option>
                              </select>

                              </div>
                              </td>
                              <td class="tbl_txt">
                              <div class="form-group">
                              <input type="text" class="form-control tbl_txt" placeholder="" name="name">
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <select class="form-control" name="title">
                              <option value="">Lorem</option>
                              <option value="2">Lorem</option>
                              <option value="3">Lorem</option>
                              <option value="4">Lorem</option>
                              </select>
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <select class="form-control" name="title">
                              <option value="">Lorem</option>
                              <option value="2">Lorem</option>
                              <option value="3">Lorem</option>
                              <option value="4">Lorem</option>
                              </select>
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <select class="form-control" name="title">
                              <option value="">Lorem</option>
                              <option value="2">Lorem</option>
                              <option value="3">Lorem</option>
                              <option value="4">Lorem</option>
                              </select>
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <select class="form-control" name="title">
                              <option value="">Lorem</option>
                              <option value="2">Lorem</option>
                              <option value="3">Lorem</option>
                              <option value="4">Lorem</option>
                              </select>
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <select class="form-control" name="title">
                              <option value="">Lorem</option>
                              <option value="2">Lorem</option>
                              <option value="3">Lorem</option>
                              <option value="4">Lorem</option>
                              </select>
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <select class="form-control" name="title">
                              <option value="">Lorem</option>
                              <option value="2">Lorem</option>
                              <option value="3">Lorem</option>
                              <option value="4">Lorem</option>
                              </select>
                              </div>
                              </td>
                            </tr>


                          </tbody>
                        </table>
                      </div>

                      <div style="clear:both;"></div>
                        <div class="divider"></div>

                        <div class="col-md-12 no-padding">
                        <div>Measurements</div>
                        <div class="table-responsive">
                        <table class="table table-bordered tbl_head">
                          <thead>
                            <tr>
                              <th> # </th>
                              <th>PD </th>
                              <th>NPD </th>
                              <th>Height's </th>
                              <th>Lens Diameter</th>
                              <th>Lens Thickness </th>
                              <th></th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="tbl_head_td">RE</td>
                              <td>
                              <div class="form-group">
                              <input type="text" class="form-control" placeholder="" name="name">
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <input type="text" class="form-control" placeholder="" name="name">
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <input type="text" class="form-control" placeholder="" name="name">
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <input type="text" class="form-control" placeholder="" name="name">
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <input type="text" class="form-control" placeholder="" name="name">
                              </div>
                              </td>
                              <td>
                              <div class="md-checkbox-inline">
                              <div class="md-checkbox">
                                <input type="checkbox" id="checkbox1_3" name="checkboxes2[]" value="1" class="md-check">
                                <label for="checkbox1_3">
                                  <span></span>
                                  <span class="check"></span>
                                  <span class="box"></span>OC's Exact</label>
                              </div>
                              </div>
                              </td>

                            </tr>


                            <tr>
                              <td class="tbl_head_td">LE</td>
                              <td>
                              <div class="form-group">
                              <input type="text" class="form-control" placeholder="" name="name">
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <input type="text" class="form-control" placeholder="" name="name">
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <input type="text" class="form-control" placeholder="" name="name">
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <input type="text" class="form-control" placeholder="" name="name">
                              </div>
                              </td>
                              <td>
                              <div class="form-group">
                              <input type="text" class="form-control" placeholder="" name="name">
                              </div>
                              </td>
                              <td>
                              <div class="md-checkbox-inline">
                              <div class="md-checkbox">
                                <input type="checkbox" id="checkbox1_1" name="checkboxes2[]" value="1" class="md-check">
                                <label for="checkbox1_1">
                                  <span></span>
                                  <span class="check"></span>
                                  <span class="box"></span>Knife Edge</label>
                              </div>
                              </div>
                              </td>
                            </tr>


                          </tbody>
                        </table>
                      </div>
                      </div>

                      <div style="clear:both;"></div>
                        <div class="divider"></div>

                        <div class="col-md-12 no-padding">
                        <div class="col-md-12">Precal</div>
                        <div class="col-md-3">
                          <div class="form-group">
                          <label class="col-md-12 control-label">Value A
                          </label>

                          <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="" name="name">
                          </div>

                        </div>
                        </div>
                        <div class="col-md-3">
                        <div class="form-group">
                          <label class="col-md-12 control-label">ED
                          </label>
                        <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="" name="name">
                        </div>
                        </div>
                        </div>
                        <div class="col-md-3">
                        <div class="form-group">
                          <label class="col-md-12 control-label">Value B
                          </label>
                        <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="" name="name">
                        </div>
                        </div>
                        </div>

                        <div class="col-md-3">
                        <div class="form-group">
                          <label class="col-md-12 control-label">DBL
                          </label>
                        <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="" name="name">
                        </div>
                        </div>
                        </div>

                        <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-md-12 control-label">Advice Given
                          </label>
                        <div class="col-md-12">
                        <textarea class="form-control" rows="3" name="name"></textarea>
                        </div>
                        </div>

                        </div>
                        <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-md-12 control-label">Notes
                          </label>
                        <div class="col-md-12">
                        <textarea class="form-control" rows="3" name="name"></textarea>
                        </div>
                        </div>
                        </div>
                        </div>
                    </div>

                <!-- END VALIDATION STATES-->
              </div>
                                        <!-- END 1st FORM-->
                                    </div>
            </div><!-- panel body close -->
          </div><!-- panel close -->
          <!-- 3rd accordation end -->
          <div style="clear:both;"></div>

          <!-- 4th accordation -->

          <div class="panel panel-default margin_acc">
                                    <div class="panel-heading portlet box blue no_margin">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_4"> Billing Details</a>
                                        </h4>
                                    </div>
            <div id="collapse_3_4" class="panel-collapse in">
                                    <div class="portlet-body form">
                                        <!-- BEGIN FORM-->
              <div class="col-md-12 blue-border">
                <!-- BEGIN VALIDATION STATES-->

                    <!-- BEGIN FORM-->

                      <div class="form-body form-no-padding">

                        <div class="col-md-12 no-padding">
                        <div class="col-md-6">
                          <div class="form-group">
                          <label class="col-md-4 col-xs-12 control-label">Bill Amount
                          </label>

                          <div class="col-md-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="" name="name" readonly>
                          </div>

                        </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                          <label class="col-md-4 col-xs-12 control-label">Tax
                          </label>

                          <div class="col-md-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="" name="name" readonly>
                          </div>

                        </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="divider1"></div>
                        <div class="col-md-6">
                          <div class="form-group">
                          <label class="col-md-4 col-xs-12 control-label">Total Amount
                          </label>

                          <div class="col-md-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="" name="name" readonly>
                          </div>

                        </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                          <label class="col-md-4 col-xs-12 control-label">Total Discount
                          </label>

                          <div class="col-md-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="" name="name">
                          </div>
                        </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="divider1"></div>

                        <div class="col-md-6">
                          <div class="form-group">
                          <label class="col-md-4 col-xs-12 control-label">Payment 1
                          </label>

                          <div class="col-md-6 col-xs-12">
                            <select class="form-control" name="title" readonly>
                          <option value="">lorem</option>
                          <option value="2">lorem</option>
                          <option value="3">lorem</option>
                          <option value="4">lorem</option>
                        </select>
                          </div>

                        </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                          <label class="col-md-4 col-xs-12 control-label">Deposit Amount 1
                          </label>

                          <div class="col-md-6 col-xs-12">
                            <select class="form-control" name="title" readonly>
                          <option value="">lorem</option>
                          <option value="2">lorem</option>
                          <option value="3">lorem</option>
                          <option value="4">lorem</option>
                        </select>
                          </div>

                        </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="divider1"></div>
                        <div class="col-md-6">
                          <div class="form-group">
                          <label class="col-md-4 col-xs-12 control-label">Payment 2
                          </label>

                          <div class="col-md-6 col-xs-12">
                          <select class="form-control" name="title" readonly>
                          <option value="">lorem</option>
                          <option value="2">lorem</option>
                          <option value="3">lorem</option>
                          <option value="4">lorem</option>
                          </select>
                          </div>

                        </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                          <label class="col-md-4 col-xs-12 control-label">Deposit Amount 2
                          </label>

                          <div class="col-md-6 col-xs-12">
                          <select class="form-control" name="title" readonly>
                          <option value="">lorem</option>
                          <option value="2">lorem</option>
                          <option value="3">lorem</option>
                          <option value="4">lorem</option>
                          </select>
                          </div>

                        </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="divider1"></div>
                        <div class="col-md-6">
                          <div class="form-group">
                          <label class="col-md-4 col-xs-12 control-label">Balance Amount
                          </label>

                          <div class="col-md-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="" name="name" readonly>
                          </div>
                        </div>
                        </div>

                        <div style="clear:both;"></div>
                        <div class="divider"></div>

                      <div class="col-md-12">
                      <div class="form-actions" style="border:0px;float:right;">
                    <div class="row">
                      <div class="col-md-12">
                        <button type="submit" class="btn blue">Save</button>
                        <button class="btn btn-danger"><i class="fa fa-times"></i>Cancel</button>

                      </div>
                    </div>
                  </div>
                  </div>





                    </div>
                    </div>
                <!-- END VALIDATION STATES-->
              </div>
                                        <!-- END 1st FORM-->
                                    </div>
            </div><!-- panel body close -->
          </div><!-- panel close -->
          <div style="clear:both;"></div>
          <!-- 4th accordation end -->



          </form>

        </div><!-- close accordation -->
                            </div>
        <!-- end 1st tab -->

                            </div>
                        </div>
                    </div>
                </div>
