<div [id]="config.id" class="modal fade popup" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog model_dia1">

    <div class="modal-content">

      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      </div>

      <div class="modal-body">
        <div class="panel panel-default margin_acc">
          <div class="panel-heading portlet box blue no_margin">
          <h4 class="panel-title" style="padding:10px;">
          <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_5"> Add {{config.label}}</a>
          </h4>
          </div>
          <div id="collapse_3_5" class="panel-collapse in">


            <div class="col-md-12 blue-border">
            <div class="col-md-12 no-padding">
              <div class="form-group">
                <label class="col-md-12 control-label" for="form_control_1">{{config.label}}</label>
                <div class="col-md-12">
                  <input type="text" tabindex="-1" [(ngModel)]="item_name" class="form-control" placeholder="" name="item_name">
                </div>
              </div>
            </div>

            <div style="clear:both;"></div>
            <div class="divider"></div>
            <div class="col-md-12">
              <div class="form-actions" style="border:0px;float:right;">
                <div class="row">
                  <div class="col-md-12">
                  <a class="btn blue" data-dismiss="modal" (click)="save()" aria-hidden="true" ><i class="fa fa-heartbeat"></i>Save</a>
                  </div>
                </div>
              </div>
            </div>
              </div>
          </div>
        </div>
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
</div>
