<div class="page-wrapper" *ngIf="current_route != '/login' && current_route != '/' ">
            <app-header></app-header>
            <div class="page-container">
                <app-menu></app-menu>
                <div class="page-content-wrapper">
                    <div class="page-content">
                      <router-outlet></router-outlet>
                    </div>
                </div>
              </div>
            <app-footer></app-footer>
</div>

<app-login *ngIf="current_route == '/login' || current_route == '/'"></app-login>
