<!-- BEGIN PAGE TITLE-->
<h1 class="page-title" *ngIf="showTitle">Patient Search</h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->

<!-- form with tab -->
<div class="row">
                <div class="col-md-12">
                    <div class="tabbable-line boxless tabbable-reversed">
                        <div class="tab-content no-border">
                            <div class="tab-pane active" >

      <div class="panel-group accordion" id="accordion3">
       <form action="#"  id="form_sample_1">
      <!-- 1st accordation -->

          <div class="panel panel-default margin_acc">
                                    <div class="panel-heading portlet box blue no_margin">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_2"> {{accord_title}}</a>
                                        </h4>
                                    </div>
            <div id="collapse_3_2" class="panel-collapse in">
                                    <div class="portlet-body form">
                                        <!-- BEGIN FORM-->
              <div class="col-md-12 blue-border">
                <!-- BEGIN VALIDATION STATES-->

                    <!-- BEGIN FORM-->

                      <div class="form-body form-no-padding">

                        <div class="col-md-12 no-padding">
                          <div class="col-md-4">
                          <div class="form-group">
                            <label class="col-md-12 control-label">Patient ID
                            </label>
                          <div class="col-md-12 col-xs-12">
                              <input tabindex="1" type="text" class="form-control" name="_id" [(ngModel)]="search._id">
                            </div>
                          </div>
                          </div>

                        <div class="col-md-4">
                          <div class="form-group">
                          <label class="col-md-12 control-label">First Name
                          </label>

                          <div class="col-md-12 col-xs-12">
                            <input tabindex="2" type="text" class="form-control" [(ngModel)]="search.first_name" name="first_name">
                          </div>

                        </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                          <label class="col-md-12 control-label">Last Name
                          </label>

                          <div class="col-md-12 col-xs-12">
                            <input tabindex="3" type="text" class="form-control"  name="last_name" [(ngModel)]="search.last_name">
                          </div>

                        </div>
                        </div>

                        <div style="clear:both;"></div>
                        <div class="divider"></div>


                        <div class="col-md-4">
                          <div class="form-group">
                          <label class="col-md-12 control-label">Date Of Birth
                          </label>

                          <div class="col-md-12 col-xs-12">
                            <input tabindex="4" type="text" class="form-control example1"  name="dob" [(ngModel)]="search.dob">
                          </div>

                        </div>
                        </div>

                        <div class="col-md-4">
                        <div class="form-group">
                          <label class="col-md-12 control-label">Mobile
                          </label>
                        <div class="col-md-12 col-xs-12">
                            <input type="text" tabindex="5" class="form-control" name="mobile" [(ngModel)]="search.mobile">
                          </div>
                        </div>
                        </div>

                        <div class="col-md-4">
                        <div class="form-group">
                          <label class="col-md-12 control-label">National ID
                          </label>
                        <div class="col-md-12">
                        <input type="text" class="form-control" tabindex="6" name="national_id" [(ngModel)]="search.national_id">
                        </div>
                        </div>
                        </div>


                      <div style="clear:both;"></div>
                        <div class="divider"></div>


                        <div class="col-md-8">
                        <div class="form-group">
                          <label class="col-md-12 control-label">Wild Search
                          </label>
                        <div class="col-md-12">
                        <div class="col-md-1 col-xs-2">
                        <div class="md-checkbox-inline">
                        <div class="md-checkbox">
                              <input id="checkbox2" name="wild_search"  checked=false [(ngModel)]="wild_search" class="md-check com_enbl" type="checkbox">
                              <label for="checkbox2">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span></label>
                            </div>
                            </div>
                            </div>
                        <div class="col-md-11 col-xs-10">
                        <input type="text" class="form-control" tabindex="7" [(ngModel)]="search.wild_search" name="wild_search" [readonly]="!wild_search">
                        </div>
                        </div>
                        </div>
                        </div>

                        <div style="clear:both;"></div>
                        <div class="divider"></div>
                        <div class="col-md-12">
                        <div class="form-actions" style="border:0px;float:right;">
                        <div class="row">
                          <div class="col-md-12">
                            <button type="submit" (click)="doSearch()" class="btn blue"><i class="fa fa-search"></i> Search</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="divider"></div>

                        <div class="col-md-12 table-responsive">
                        <table class="table table-condensed table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                          <thead>
                            <tr>
                              <th>
                              <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" #all [checked]="checkAll" (change)="toggleAll(all.checked)" class="group-checkable"  name="checkAll"/>
                                <span></span>
                              </label></th>
                              <th>Patient ID</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Date Of Birth</th>
                              <th>Mobile</th>
                              <th>Email</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let patient of patients">
                              <td>
                              <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="checkboxes"  #patient_id  [checked]="patient.checked" (change)="onChange(patient._id,patient_id.checked)"/>
                                <span></span>
                              </label>
                              </td>

                              <td>
                                <a *ngIf="resultClick=='modal'" (click)="select_patient(patient._id)" data-toggle="modal" href="#exam_type">{{patient._id}}</a>
                                <a *ngIf="resultClick!='modal'" (click)="navigate(patient._id)" >{{patient._id}} </a>
                              </td>

                              <td>
                                <a *ngIf="resultClick=='modal'" (click)="select_patient(patient._id)" data-toggle="modal" href="#exam_type">{{patient.first_name}}</a>
                                <a *ngIf="resultClick!='modal'" (click)="navigate(patient._id)" >{{patient.first_name}}</a>
                              </td>

                              <td>
                                <a *ngIf="resultClick=='modal'" (click)="select_patient(patient._id)" data-toggle="modal" href="#exam_type">{{patient.last_name}}</a>
                                <a *ngIf="resultClick!='modal'" (click)="navigate(patient._id)">{{patient.last_name}}</a>
                              </td>

                              <td>
                                <a *ngIf="resultClick=='modal'" (click)="select_patient(patient._id)" data-toggle="modal" href="#exam_type">{{patient.dob}}</a>
                                <a *ngIf="resultClick!='modal'" (click)="navigate(patient._id)" >{{patient.dob}}</a>
                              </td>
                              <td>
                                <a *ngIf="resultClick=='modal'" data-toggle="modal" href="#exam_type">{{patient.mobile}}</a>
                                <a *ngIf="resultClick!='modal'" (click)="navigate(patient._id)" >{{patient.mobile}}</a>
                              </td>
                              <td>
                                <a *ngIf="resultClick=='modal'" data-toggle="modal" href="#exam_type">{{patient.email}}</a>
                                <a *ngIf="resultClick!='modal'" (click)="navigate(patient._id)" >{{patient.email}}</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div class="col-md-7 col-sm-7" *ngIf="total > 10">
                        <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
                          <ul class="pagination" style="visibility: visible;">
                            <li class="prev" *ngIf="page > 1">
                              <a href="#" (click)="first($event)" title="First"><i class="fa fa-angle-double-left"></i></a>
                            </li>
                            <li class="prev" *ngIf="page > 1">
                              <a href="#" (click)="prev($event)" title="Prev"><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li class="active">
                              <span>{{page}}</span>
                            </li>
                            <li class="next">
                              <a href="#" title="Next" (click)="next($event)" *ngIf="page < last_page"><i class="fa fa-angle-right"></i></a>
                            </li>
                            <li class="next">
                              <a href="#" (click)="last($event)" *ngIf="page < last_page" title="Last"><i class="fa fa-angle-double-right"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div style="clear:both;"></div>
                        <div class="divider"></div>
                        <div class="col-md-12" *ngIf="resultClick!='modal'">
                        <div class="form-actions" style="border:0px;float:right;">
                        <div class="row">
                          <div class="col-md-12">
                            <button type="submit" (click)="delete()" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
                            <button class="btn blue"><i class="fa fa-user-md"></i>Export (csv)</button>
                            <button class="btn blue"><i class="fa fa-print"></i> Print</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                <!-- END VALIDATION STATES-->
              </div>
                                        <!-- END 1st FORM-->
                                    </div>
            </div><!-- panel body close -->
          </div><!-- panel close -->
          <div style="clear:both;"></div>
          <!-- 2nd accordation end -->

          </form>

        </div><!-- close accordation -->
                            </div>
        <!-- end 1st tab -->

                            </div>
                        </div>
                    </div>
                </div>
