<h1 class="page-title">{{title.getTitle()}}</h1>

<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<!-- form with tab -->
<div class="row">
  <div class="col-md-12">
    <div class="tabbable-line boxless tabbable-reversed">
      <ul class="nav nav-tabs">
        <li>
          <a routerLink="/patient_profile/{{patient_id}}">Profile</a>
        </li>
        <li>
          <a href="">Recall</a>
        </li>
        <li class="active">
          <a [routerLink]="['/exam_history']" >Examination History</a>
        </li>
        <li>
          <a href="">Orders History </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" >
          <div  class="alert alert-danger" [ngClass]="{'display-hide':!no_exam}">
            <button class="close" data-close="alert"></button>
              No Exam for this patient
            </div>
            <div class="row">
              <div class="col-md-12" [hidden]="no_exam">
                <div class="form-group">
                  <label class="col-md-2 col-xs-12 control-label">Patient Exams
                  </label>
                  <div class="col-md-8 col-xs-12">
                    <ng-select
                      [items]="exams"
                      (selected)="exam_date_selected($event)"
                      placeholder="Select Exam Date">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          <app-manage-eyeexam *ngIf="(exam!=undefined && exam.ex_type=='EYE')" [(exam)]='exam' (patientDetailBack)="get_patient_details($event)" [patientId]="patient_id"></app-manage-eyeexam>
          <app-manage-lens-exam *ngIf="(exam!=undefined && exam.ex_type=='LENS')"  [(exam)]='exam' (patientDetailBack)="get_patient_details($event)" [patientId]="patient_id"></app-manage-lens-exam>
        </div>
        </div>
      </div>
    </div>
  </div>
