<div id="advanced_search" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog model_dia1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        </button>
      </div>
      <div class="modal-body">
        <div class="panel panel-default margin_acc">
          <div class="panel-heading portlet box blue no_margin">
            <h4 class="panel-title" style="padding:10px;">
              <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_5"> Advanced Search</a>
            </h4>
          </div>
          <div id="collapse_3_5" class="panel-collapse in">
            <div class="portlet-body form">
              <div class="col-md-12 blue-border">
                    <div class="form-group form-md-checkboxes">
                      <label class="col-md-12 control-label" for="inventory_type_1">Inventory Type</label>

                      <div class="col-md-2">
                        <div class="md-checkbox">
                          <input [(ngModel)]="inventories['frames']" tabindex="-1" type="checkbox" id="inventory_type_1" value="frames" class="md-check">
                          <label for="inventory_type_1">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>Frame</label>
                          </div>
                        </div>

                        <div class="col-md-2">
                          <div class="md-checkbox">
                            <input [(ngModel)]="inventories['sun_glass']" tabindex="-1" type="checkbox" id="inventory_type_2" value="sun_glass" class="md-check">
                            <label for="inventory_type_2">
                              <span></span>
                              <span class="check"></span>
                              <span class="box"></span>Sun Glass</label>
                            </div>
                          </div>

                          <div class="col-md-2">
                            <div class="md-checkbox">
                              <input [(ngModel)]="inventories['cls_inventory']" tabindex="-1" type="checkbox"  id="inventory_type_3" value="cls_inventory" class="md-check">
                              <label for="inventory_type_3">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>Contact Lens</label>
                              </div>
                            </div>

                            <div class="col-md-2">
                              <div class="md-checkbox">
                                <input [(ngModel)]="inventories['lens_inventory']" tabindex="-1" type="checkbox"  id="inventory_type_4" value="lens_inventory" class="md-check">
                                <label for="inventory_type_4">
                                  <span></span>
                                  <span class="check"></span>
                                  <span class="box"></span>Lens</label>
                                </div>
                              </div>

                              <div class="col-md-2">
                                <div class="md-checkbox">
                                  <input [(ngModel)]="inventories['accessories_inventory']" tabindex="-1" type="checkbox"  id="inventory_type_6" value="accessories_inventory" class="md-check">
                                  <label for="inventory_type_6">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span>Accessories</label>
                                  </div>
                                </div>
                      </div>

                      <div style="clear:both;"></div>
                      <div class="divider"></div>

                        <div class="col-md-9 col-xs-12">
                          <div class="form-group">
                            <label class="control-label">Wild Search</label>
                            <tag-input tabindex="-1" [separatorKeyCodes]="keys" secondaryPlaceholder="Enter Keywords" placeholder="Enter Keywords" [(ngModel)]="tags"></tag-input>
                          </div>
                        </div>

                    <div style="clear:both;"></div>
                    <div class="divider"></div>

                    <div class="col-md-12">
                      <div class="form-actions" style="border:0px;float:right;">
                        <div class="row">
                          <div class="col-md-12">
                            <a class="btn blue" (click)="search()" data-dismiss="modal" aria-hidden="true" ><i class="fa fa-search"></i>Search</a>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
            </div>
          </div>
        </div>
        <div style="clear:both;">
        </div>
      </div>
    </div>
  </div>
</div>
