<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">New Exam</h1>

<app-search-patient (onPatientSelect)="setPatientID($event)" [resultClick]="'modal'" [showTitle]="0" [accord_title]="'Select Patient for Examination'"></app-search-patient>

<div id="exam_type" class="modal fade" tabindex="-1" aria-hidden="true">
<div class="modal-dialog model_dia1">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
</div>
<div class="modal-body">
<div class="panel panel-default margin_acc">
<div class="panel-heading portlet box blue no_margin">
<h4 class="panel-title" style="padding:10px;">
<a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_5"> Exam Details</a>
</h4>
</div>
<div id="collapse_3_5" class="panel-collapse in">
<div class="portlet-body form">
<div class="col-md-12 blue-border">
<div class="form-body form-no-padding">
<div class="col-md-12 no-padding">
<div class="col-md-4">
<div class="form-group">
<label class="col-md-12 control-label" for="form_control_1">Exam Type</label>
<div class="col-md-12">
<select class="form-control" [(ngModel)]="exam_type" (change)="type_change()">
  <option value="eye_exam">Eye Exam</option>
  <option value="lenses_exam">Contact Lens Exam</option>
</select>
</div>
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label class="col-md-12 control-label" for="form_control_1">Exam Label</label>
<div class="col-md-12">
<select class="form-control" [(ngModel)]="exam_label">
  <option *ngFor="let option of exam_labels" value="{{option.value}}">{{option.text}}</option>
</select>
</div>
</div>
</div>
<div style="clear:both;"></div>
<div class="divider"></div>
<div class="col-md-12">
<div class="form-actions" style="border:0px;float:right;">
<div class="row">
<div class="col-md-12">
<a class="btn blue" data-dismiss="modal" aria-hidden="true" routerLink="/{{exam_type}}/{{exam_label}}/{{patientId}}"><i class="fa fa-heartbeat"></i>Select</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div style="clear:both;"></div>
</div>
</div>
</div>
</div>
