.blue-border
{
border: 1px solid #60aee4;
padding-bottom:20px;
margin-bottom: 20px;
}
.divider {
    margin: 16px -15px 10px -15px;
    border-bottom: 1px solid #eaeaea;
}
.no_margin
{
margin:0px;
}
.margin_acc
{
margin-bottom:20px !important;
}
.acc_color
{
color:#fff !important;
}
.form-no-padding
{
padding:10px 0px !important;
}
.pop_up_btn
{
font-size: 12px !important;
padding: 6px 8px !important;
border-radius: 50% !important;
}
.no-padding
{
padding:0px;
}
.tbl_txt
{
width:100px !important;
}
.tbl_txt1
{
width:150px !important;
}
.tbl_head th
{
background:#60aee4;
color:#fff;
border:1px solid #60aee4;
}
.tbl_head
{
border:2px solid #60aee4;
}
.tbl_head_td
{
background:#60aee4;
color:#fff;
}
.not_founds
{
padding:15px;text-align:center;border:1px solid #60aee4;font-size:20px;
}
.divider1 {
    margin: 8px -15px 5px -15px;
    border-bottom: 1px solid #eaeaea;
}
.model_dia1
{
width:94%;
}
.btn-circle
{
border-radius:50%;
padding: 6px 7px !important;
}
.attireMainNav
{
display:none;
}
.no-border {
    border: 0px !important;
    padding-top: 0px !important;
}
.margin_btm_20
{
margin-bottom:20px;
}
.divider_height
{
height:15px;
}
.no_padding
{
padding:0px;
}