<ng-container *ngFor="let popup of popups_arr">
  <dynamic-popup [config]="popup" (saved)="update($event)"></dynamic-popup>
</ng-container>

<div style="clear:both;"></div>
<app-feedback-component [msg]="msg" (statusChanged)="close()" [error]="error" [success]="success" ></app-feedback-component>

<form action="#"  [formGroup]="accessories_form" id="form_sample_1">

<!-- 1st accordation -->

    <div class="panel panel-default margin_acc">
                              <div class="panel-heading portlet box blue no_margin">
                                  <h4 class="panel-title">
                                      <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_1">Accessories</a>
                                  </h4>
                              </div>
      <div id="collapse_3_1" class="panel-collapse in">
                              <div class="portlet-body form">

                                  <!-- BEGIN FORM-->
        <div class="col-md-12 blue-border">
          <!-- BEGIN VALIDATION STATES-->

              <!-- BEGIN FORM-->

                <div class="form-body form-no-padding">

                    <div class="col-md-4">
                    <div class="form-group">
                    <label class="col-md-12 control-label">Item Code
                    </label>

                    <div class="col-md-12">
                      <input type="text"  formControlName="item_code_str" class="form-control" value="00001" readonly name="item_code">
                    </div>
                  </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-md-12 control-label">Category
                          <span class="required" aria-required="true">*</span>
                        </label>
                      <div class="col-md-10">
                        <select class="form-control" formControlName="category" name="category">
                          <option *ngFor="let category of categories" value="{{category._id}}">{{category.name}}</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <a  data-toggle="modal" href="#category" class="btn btn-sm btn-default pop_up_btn">
                          <i class="fa fa-plus"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-md-12 control-label">Supplier
                          <span class="required" aria-required="true">*</span>
                        </label>
                      <div class="col-md-10">
                        <select class="form-control" formControlName="supplier" name="supplier">
                          <option *ngFor="let s of suppliers" value="{{s._id}}">{{s.name}}</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <a  data-toggle="modal" href="#supplier" class="btn btn-sm btn-default pop_up_btn">
                          <i class="fa fa-plus"></i></a>
                      </div>
                    </div>
                  </div>



                  <div style="clear:both;"></div>
                  <div class="divider"></div>

                  <div class="col-md-8">
                    <div class="form-group">
                      <label class="col-md-12 control-label">Notes </label>
                      <div class="col-md-12">
                        <textarea  tabindex="1" formControlName="notes" class="form-control" rows="3" name="notes"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                    <label class="col-md-12 control-label"> 	Quantity
                    <span class="required" aria-required="true">*</span>
                    </label>
                    <div class="col-md-12">
                      <input type="text" tabindex="2" formControlName="quantity" class="form-control" placeholder="" name="quantity">
                    </div>
                  </div>
                  </div>



                <div style="clear:both;"></div>
                <div class="divider"></div>


                <div class="col-md-4">
                <div class="form-group">
                  <label class="col-md-12 control-label">Reorder Level
                  </label>
                <div class="col-md-12">
                <input type="text" tabindex="3" formControlName="reorder_level" class="form-control" placeholder="" name="reorder_level">
                </div>
                </div>
                </div>

                <div class="col-md-4">
                <div class="form-group">
                  <label class="col-md-12 control-label">Cost
                  </label>
                <div class="col-md-12">
                <input type="text" formControlName="cost" tabindex="4" class="form-control" placeholder="" name="cost">
                </div>
                </div>
                </div>


                <div class="col-md-4">
                  <div class="form-group">
                  <label class="col-md-12 control-label"> 	Selling Price
                  <span class="required" aria-required="true">*</span>
                  </label>
                  <div class="col-md-12">
                    <input type="text" formControlName="selling_price" tabindex="5" class="form-control" placeholder="" name="selling_price">
                  </div>
                </div>
                </div>
                <div style="clear:both;"></div>
                <div class="divider"></div>

              <div class="col-md-12">
              <div class="form-actions" style="border:0px;float:right;">
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" (click)="save()" class="btn blue">{{btn_msg}}</button>
                </div>
              </div>
            </div>
            </div>
          </div>

          <!-- END VALIDATION STATES-->
        </div>
                                  <!-- END 1st FORM-->
                              </div>
      </div><!-- panel body close -->
    </div><!-- panel close -->
    <!-- 1st accordation end -->
    <div style="clear:both;"></div>


    </form>
