<div class="alert alert-danger " [ngClass]="{'display-hide':!error}">
  <button class="close" (click)="close()"></button>
    You have some form errors. Please try again.
</div>

<div class="alert alert-success" [ngClass]="{'display-hide':!success}">
  <button class="close" (click)="close()"></button>
    {{msg}} successfully .
</div>
