<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="100" style="padding-top: 30px">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <li class="sidebar-search-wrapper">
                <form class="sidebar-search"></form>
            </li>
            <li class="nav-item start">
                <a href="index.html" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
  <span class="selected"></span>
                </a>

            </li>

            <li class="nav-item active">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-user"></i>
                    <span class="title">Patient</span>
  <span class="arrow"></span>
                </a>
<ul class="sub-menu">
                    <li class="nav-item start ">
                        <a [routerLink]="['/patient_register']"  class="nav-link ">
                            <i class="icon-user"></i>
                            <span class="title">New Patient</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a [routerLink]="['/patient_search']"  class="nav-link ">
                           <i class="icon-user"></i>
                            <span class="title">Patient Search</span>
                        </a>
                    </li>
                </ul>
            </li>


          <li class="nav-item start active">
            <a href="javascript:;" class="nav-link nav-toggle">
              <i class="icon-user"></i>
              <span class="title">Examination</span>
              <span class="selected"></span>
              <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item start ">
                    <a [routerLink]="['/new_exam']"  class="nav-link">
                        <i class="icon-user"></i>
                        <span class="title">New Exam</span>
                    </a>
                </li>

            </ul>
          </li>


          <li class="nav-item start active">
            <a href="javascript:;" class="nav-link nav-toggle">
              <i class="icon-user"></i>
              <span class="title">Inventory</span>
              <span class="selected"></span>
              <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item start ">
                    <a [routerLink]="['/add_inventory']"  class="nav-link">
                        <i class="icon-user"></i>
                        <span class="title">Add Item</span>
                    </a>
                </li>

                <li class="nav-item start ">
                    <a [routerLink]="['/search_inventory']"  class="nav-link">
                        <i class="icon-user"></i>
                        <span class="title">Search & Edit</span>
                    </a>
                </li>

            </ul>
          </li>


          <li class="nav-item start active">
            <a href="javascript:;" class="nav-link nav-toggle">
              <i class="icon-user"></i>
              <span class="title">Dispensing</span>
              <span class="selected"></span>
              <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item start ">
                    <a [routerLink]="['/patient_search/new_order']"  class="nav-link">
                        <i class="icon-user"></i>
                        <span class="title">New Order</span>
                    </a>
                </li>

            </ul>
          </li>

        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
