<ng-container *ngFor="let popup of popups_arr">
  <dynamic-popup [config]="popup" (saved)="update($event)"></dynamic-popup>
</ng-container>
<div style="clear:both;"></div>
<app-feedback-component [msg]="msg" (statusChanged)="close()" [error]="error" [success]="success" ></app-feedback-component>

<form action="#" [formGroup]="lens_form"  id="form_sample_1">

<!-- 1st accordation -->

    <div class="panel panel-default margin_acc">
                              <div class="panel-heading portlet box blue no_margin">
                                  <h4 class="panel-title">
                                      <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_1"> Lens</a>
                                  </h4>
                              </div>
      <div id="collapse_3_1" class="panel-collapse in">
                              <div class="portlet-body form">

                                  <!-- BEGIN FORM-->
        <div class="col-md-12 blue-border">
          <!-- BEGIN VALIDATION STATES-->

              <!-- BEGIN FORM-->

                <div class="form-body form-no-padding">

                    <div class="col-md-4">
                    <div class="form-group">
                    <label class="col-md-12 control-label">Item Code
                    </label>

                    <div class="col-md-12">
                      <input type="text"  formControlName="item_code_str"  class="form-control" value="00001" readonly name="item_code">
                    </div>
                  </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-md-12 control-label">Supplier
                          <span class="required" aria-required="true">*</span>
                        </label>
                      <div class="col-md-10">
                        <select class="form-control" formControlName="supplier" name="supplier">
                          <option *ngFor="let s of suppliers" value="{{s._id}}">{{s.name}}</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <a  data-toggle="modal" href="#supplier" class="btn btn-sm btn-default pop_up_btn">
                          <i class="fa fa-plus"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-md-12 control-label">Lens Type
                          <span class="required" aria-required="true">*</span>
                        </label>
                      <div class="col-md-10">
                        <select formControlName="lens_type" class="form-control" name="lens_type">
                          <option value="1">Single Vision</option>
                          <option value="2">Bifocal</option>
                          <option value="3">Progressives</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div style="clear:both;"></div>
                  <div class="divider"></div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-md-12 control-label">Lens Name
                          <span class="required" aria-required="true">*</span>
                        </label>
                      <div class="col-md-10">
                        <select class="form-control" formControlName="lens_name" name="title">
                          <option *ngFor="let lens of lens_names" value="{{lens._id}}">{{lens.name}}</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <a  data-toggle="modal" href="#lens_name" class="btn btn-sm btn-default pop_up_btn">
                          <i class="fa fa-plus"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-md-12 control-label">Index
                          <span class="required" aria-required="true">*</span>
                        </label>
                      <div class="col-md-10">
                        <select formControlName="index" class="form-control" name="title">
                          <option value="1">1.50</option>
                          <option value="2">1.55</option>
                          <option value="3">1.59</option>
                          <option value="4">1.60</option>
                          <option value="4">1.67</option>
                          <option value="4">1.74</option>
                          <option value="4">1.7</option>
                          <option value="4">1.8</option>
                          <option value="4">1.9</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-md-12 control-label">Material
                          <span class="required" aria-required="true">*</span>
                        </label>
                      <div class="col-md-10">
                        <select formControlName="material" name="material" class="form-control" name="title">
                          <option value="">Glass</option>
                          <option value="2">Plastic</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div style="clear:both;"></div>
                  <div class="divider"></div>




                  <div class="col-md-4">

                    <div class="form-group">
                      <label class="col-md-12 control-label">Sph
                          <span class="required" aria-required="true">*</span>
                        </label>
                      <div class="col-md-10">
                        <select formControlName="sph" name="sph" class="form-control select2 " tabindex="-1" aria-hidden="false">
                          <option value="-">-</option>
                          <optgroup>
                            <option *ngFor="let option of sph_values" value="{{option}}">{{option}}</option>
                          </optgroup>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-md-12 control-label">Cyl
                          <span class="required" aria-required="true">*</span>
                        </label>
                      <div class="col-md-10">
                        <select formControlName="cyl" name="cyl" class="form-control select2 " tabindex="-2" aria-hidden="false">
                          <option value="-">-</option>
                          <optgroup>
                            <option *ngFor="let option of cyl_values" value="{{option}}">{{option}}</option>
                          </optgroup>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-md-12 control-label">Near Add
                        </label>
                      <div class="col-md-10">
                        <select formControlName="near_add" name="near_add" class="form-control select2 " tabindex="-1" aria-hidden="false">
                          <option value="-">-</option>
                          <optgroup>
                            <option *ngFor="let option of tbl4_values" value="{{option}}">{{option}}</option>
                          </optgroup>
                        </select>
                      </div>
                    </div>
                  </div>

                <div style="clear:both;"></div>
                <div class="divider"></div>


                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-md-12 control-label">Inter Add
                      </label>
                    <div class="col-md-10">
                      <select  formControlName="inter_add" name="inter_add" class="form-control select2 " tabindex="-1" aria-hidden="false">
                        <option value="-">-</option>
                        <optgroup>
                          <option *ngFor="let option of tbl4_values" value="{{option}}">{{option}}</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-md-12 control-label">Axis
                      </label>
                    <div class="col-md-10">
                      <select formControlName="axis" name="axis" class="form-control select2 " tabindex="-1" aria-hidden="true">
                        <option value="-">-</option>
                        <optgroup>
                          <option *ngFor="let option of axis_values" value="{{option}}">{{option}}</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>
                </div>



                <div style="clear:both;"></div>
                <div class="divider"></div>

                <div class="col-md-3">
                <div class="form-group">
                  <label class="col-md-12 control-label">Reorder Level
                  </label>
                <div class="col-md-12">
                <input type="text" tabindex="1" formControlName="reorder_level" class="form-control" placeholder="" name="reorder_level">
                </div>
                </div>
                </div>


                <div class="col-md-3">
                  <div class="form-group">
                  <label class="col-md-12 control-label"> 	Quantity
                  <span class="required" aria-required="true">*</span>
                  </label>
                  <div class="col-md-12">
                    <input type="text" tabindex="2" formControlName="quantity" class="form-control" placeholder="" name="quantity">
                  </div>
                </div>
                </div>

                <div class="col-md-3">
                <div class="form-group">
                  <label class="col-md-12 control-label">Cost
                  </label>
                <div class="col-md-12">
                <input type="text" tabindex="3" formControlName="cost" class="form-control" placeholder="" name="cost">
                </div>
                </div>
                </div>


                <div class="col-md-3">
                  <div class="form-group">
                  <label class="col-md-12 control-label"> 	Selling Price
                  <span class="required" aria-required="true">*</span>
                  </label>
                  <div class="col-md-12">
                    <input type="text" tabindex="4" formControlName="selling_price" class="form-control" placeholder="" name="selling_price">
                  </div>
                </div>
                </div>
                <div style="clear:both;"></div>
                <div class="divider"></div>

              <div class="col-md-12">
              <div class="form-actions" style="border:0px;float:right;">
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" (click)="save()" class="btn blue">{{btn_msg}}</button>
                </div>
              </div>
            </div>
            </div>
          </div>

          <!-- END VALIDATION STATES-->
        </div>
                                  <!-- END 1st FORM-->
                              </div>
      </div><!-- panel body close -->
    </div><!-- panel close -->
    <!-- 1st accordation end -->
    <div style="clear:both;"></div>


    </form>
