<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">Eye Exam
</h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->

<!-- form with tab -->
<div class="row">
  <div class="col-md-12">
    <div class="tabbable-line boxless tabbable-reversed">
      <div class="tab-content no-border">
        <div class="tab-pane active" >
          <div class="alert alert-danger " [ngClass]="{'display-hide':!error}">
            <button class="close" (click)="error=false"></button>
              You have some form errors. Please try again.
          </div>

          <div class="alert alert-success" [ngClass]="{'display-hide':!success}">
            <button class="close" (click)="success=false"></button>
              Eye Exam was {{operation}} successfully .
          </div>

          <div class="panel-group accordion" id="accordion3">
            <form action="#" [formGroup]="examinationForm" id="form_sample_1">
              <!-- 1st accordation -->

              <div class="panel panel-default margin_acc">
                <div class="panel-heading portlet box blue no_margin">
                  <h4 class="panel-title">
                    <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_1"> Overview </a>
                  </h4>
                </div>
                <div id="collapse_3_1" class="panel-collapse in">
                  <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="col-md-12 blue-border">
                      <!-- BEGIN VALIDATION STATES-->

                      <!-- BEGIN FORM-->

                      <div class="form-body form-no-padding">

                        <div class="col-md-12 no-padding">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-md-12 control-label">Patient Name
                              </label>

                              <div class="col-md-12 col-xs-12">
                                {{patient.title}}&nbsp;{{patient.first_name}}&nbsp;{{patient.last_name}}
                              </div>


                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-md-12 control-label">Date Of Birth
                              </label>

                              <div class="col-md-12 col-xs-12">
                                {{patient.dob}}
                              </div>

                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-md-12 control-label">Examination Label
                              </label>

                              <div class="col-md-12 col-xs-12">
                                {{exam_label}}
                              </div>

                            </div>
                          </div>
                          <div style="clear:both;"></div>
                          <div class="divider"></div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-md-12 control-label">Optometrist
                              </label>
                              <div class="col-md-12 col-xs-12">
                                <select formControlName="optometrist" class="form-control" name="title">
                                  <option value="-">-</option>
                                </select>
                              </div>
                            </div>
                          </div>


                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-md-12 control-label">Examination Date
                              </label>
                              <div class="col-md-12">
                                <input tabindex="1" type="text" formControlName="examination_date" class="form-control example1" placeholder="" name="examination_date" value="22/04/2017">
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <!-- END VALIDATION STATES-->
                    </div>
                    <!-- END 1st FORM-->
                  </div>
                </div><!-- panel body close -->
              </div><!-- panel close -->
              <div style="clear:both;"></div>
              <!-- 1staccordation end -->




              <div class="panel panel-default margin_acc">
                <div class="panel-heading portlet box blue no_margin">
                  <h4 class="panel-title">
                    <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_9"> Final Prescription</a>
                  </h4>
                </div>
                <div id="collapse_3_9" class="panel-collapse in">
                  <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="col-md-12 blue-border">
                      <!-- BEGIN VALIDATION STATES-->

                      <!-- BEGIN FORM-->

                      <div class="form-body form-no-padding">

                        <div class="col-md-12 no-padding">

                          <div class="table-responsive">
                            <table class="table table-bordered tbl_head">
                              <thead>
                                <tr>
                                  <th></th>
                                  <th>Sph</th>
                                  <th>Cyl</th>
                                  <th>Axis</th>
                                  <th>Mono PD</th>
                                  <th class="bold">PD</th>
                                  <th>Mono NPD</th>
                                  <th class="bold">Near PD</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="tbl_head_td">RE</td>

                                  <td>
                                    <div class="form-group">
                                      <select  name="r_sph" formControlName="r_sph" class="form-control select2 " tabindex="-1" aria-hidden="false">
                                        <option value="-">-</option>
                                        <optgroup>
                                          <option *ngFor="let option of sph_values" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <select  name="r_cyl" formControlName="r_cyl" class="form-control select2 " tabindex="-2" aria-hidden="false">
                                        <option value="-">-</option>
                                        <optgroup>
                                          <option *ngFor="let option of cyl_values" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <select  name="r_axis" formControlName="r_axis" class="form-control select2 " tabindex="-1" aria-hidden="true">
                                        <option value="-">-</option>

                                        <optgroup>
                                          <option *ngFor="let option of axis_values" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <select  name="r_mono_pd" formControlName="r_mono_pd" class="form-control select2 " tabindex="-1" aria-hidden="true">
                                        <option value="-">-</option>
                                        <optgroup>
                                          <option *ngFor="let option of mono_pd_values" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>

                                  <td rowspan="2">
                                    <div class="form-group">
                                      <input tabindex="2" type="text" class="form-control" size="6" formControlName="pd" name="pd" readonly>

                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <select  name="mono_npd" formControlName="r_mono_npd" class="form-control select2 " tabindex="-1" aria-hidden="true">
                                        <option value="-">-</option>

                                        <optgroup>
                                          <option *ngFor="let option of mono_npd_values" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>

                                  <td rowspan="2">
                                    <div class="form-group">
                                      <input tabindex="3" type="text" size="6" readonly formControlName="near_pd" class="form-control" placeholder="" name="name" value="0">
                                    </div>
                                  </td>


                                </tr>


                                <tr>
                                  <td class="tbl_head_td">LE</td>

                                  <td>
                                    <div class="form-group">
                                      <select  name="l_sph" formControlName="l_sph" class="form-control select2 " tabindex="-1" aria-hidden="false">
                                        <option value="-">-</option>

                                        <optgroup>
                                          <option *ngFor="let option of sph_values" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <select  name="l_cyl" formControlName="l_cyl" class="form-control select2 " tabindex="-2" aria-hidden="false">
                                        <option value="-">-</option>

                                        <optgroup>
                                          <option *ngFor="let option of cyl_values" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <select  name="l_axis" formControlName="l_axis" class="form-control select2 " tabindex="-1" aria-hidden="true">
                                        <option value="-">-</option>

                                        <optgroup>
                                          <option *ngFor="let option of axis_values" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <select  name="l_mono_pd" formControlName="l_mono_pd" class="form-control select2 " tabindex="-1" aria-hidden="true">
                                        <option value="-">-</option>

                                        <optgroup>
                                          <option *ngFor="let option of mono_pd_values" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>


                                  <td>
                                    <div class="form-group">
                                      <select  name="l_mono_npd" formControlName="l_mono_npd" class="form-control select2 " tabindex="-1" aria-hidden="true">
                                        <option value="-">-</option>

                                        <optgroup>
                                          <option *ngFor="let option of mono_npd_values" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div style="clear:both;"></div>
                          <div class="divider"></div>


                          <div class="table-responsive">
                            <table class="table table-bordered tbl_head">
                              <thead>
                                <tr>
                                  <th></th>
                                  <th>Near Add </th>
                                  <th>Inter Add</th>
                                  <th class="bold">Vision(D)</th>
                                  <th class="bold">VA</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="tbl_head_td">RE</td>
                                  <td>
                                    <div class="form-group">
                                      <select  formControlName="r_near_add" class="form-control select2 " tabindex="-1" aria-hidden="false">
                                        <option value="-">-</option>
                                        <optgroup>
                                          <option *ngFor="let option of tbl4_values" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <select  formControlName="r_inter_add" class="form-control select2 " tabindex="-1" aria-hidden="true">
                                        <option value="-">-</option>

                                        <optgroup>
                                          <option *ngFor="let option of tbl4_values" value="{{option}}">{{option}}</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <input tabindex="4" type="text" formControlName="r_vision" class="form-control" placeholder="" name="r_vision" value="0">
                                    </div>
                                  </td>

                                  <td>
                                    <div class="form-group">
                                      <input tabindex="5" type="text" class="form-control" formControlName="r_dva" placeholder="" name="r_dva" value="0">

                                    </div>
                                  </td>
                                  <tr>
                                    <td class="tbl_head_td">LE</td>
                                    <td>
                                      <div class="form-group">
                                        <select  formControlName="l_near_add" class="form-control select2 " tabindex="-1" aria-hidden="false">
                                          <option value="-">-</option>

                                          <optgroup>
                                            <option *ngFor="let option of tbl4_values" value="{{option}}">{{option}}</option>
                                          </optgroup>
                                        </select>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <select  formControlName="l_inter_add" class="form-control select2 " tabindex="-1" aria-hidden="true">
                                          <option value="-">-</option>
                                          <optgroup>
                                            <option *ngFor="let option of tbl4_values" value="{{option}}">{{option}}</option>
                                          </optgroup>
                                        </select>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="6" type="text" formControlName="l_vision" class="form-control" placeholder="" name="l_vision" value="0">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="7" type="text" class="form-control" formControlName="l_dva" placeholder="" name="l_dva" value="0">
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div style="clear:both;"></div>
                          </div>
                        </div>
                        <!-- END VALIDATION STATES-->
                      </div>
                      <!-- END 1st FORM-->
                    </div>
                  </div><!-- panel body close -->
                </div><!-- panel close -->
                <div style="clear:both;"></div>
                <!-- 2nd accordation -->
                <div class="panel panel-default margin_acc">
                  <div class="panel-heading portlet box blue no_margin">
                    <h4 class="panel-title">
                      <a class="accordion-toggle accordion-toggle-styled acc_color collapsed"  aria-expanded="false" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_2"> Prisms </a>
                    </h4>
                  </div>
                  <div id="collapse_3_2" class="panel-collapse collapse">
                    <div class="portlet-body form">
                      <!-- BEGIN FORM-->
                      <div class="col-md-12 blue-border">
                        <div class="form-body form-no-padding">



                          <div class="col-md-12 no-padding">
                            <div class="table-responsive">
                              <table class="table table-bordered tbl_head">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th>HPrism(D)</th>
                                    <th>HBase(D)</th>
                                    <th>Vprism(D)</th>
                                    <th>Vbase(D)</th>
                                    <th>BVD</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class="tbl_head_td">RE</td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="8" type="text" formControlName="r_hprism_d" class="form-control" placeholder="" name="r_hprism" value="0">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="9" type="text" formControlName="r_hbase_d" class="form-control" placeholder="" name="r_hbase" value="0">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="10" type="text" formControlName="r_vprism_d" class="form-control" placeholder="" name="r_vprism" value="0">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="11" type="text" formControlName="r_vbase_d" class="form-control" placeholder="" name="r_vbase" value="0">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="12" type="text" formControlName="r_bvd"  class="form-control" placeholder="" name="r_bvd">
                                      </div>
                                    </td>
                                  </tr>


                                  <tr>
                                    <td class="tbl_head_td">LE</td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="13" type="text" formControlName="l_hprism_d" class="form-control" placeholder="" name="l_hprism" value="0">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="14" type="text" formControlName="l_hbase_d" class="form-control" placeholder="" name="l_hbase" value="0">
                                      </div>
                                    </td>

                                    <td>
                                      <div class="form-group">
                                        <input tabindex="15" type="text" formControlName="l_vprism_d" class="form-control" placeholder="" name="l_vprism" value="0">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="16" type="text" formControlName="l_vbase_d"  class="form-control" placeholder="" name="l_vbase">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="17" type="text" formControlName="l_bvd"  class="form-control" placeholder="" name="l_bvd">
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>


                            <div style="clear:both;"></div>
                            <div class="divider"></div>
                            <div class="table-responsive">
                              <table class="table table-bordered tbl_head">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th>MF Add </th>
                                    <th>HPrism(N)</th>
                                    <th>HBase(N)</th>
                                    <th>Vprism(N)</th>
                                    <th>Vbase(N)</th>
                                    <th>NVA</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class="tbl_head_td">RE</td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="18" type="text" formControlName="r_mf_add"  class="form-control" placeholder="" name="r_mf_add">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="19" type="text" formControlName="r_hprism_n"  class="form-control" placeholder="" name="r_hprism_n">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="20" type="text" formControlName="r_hbase_n"  class="form-control" placeholder="" name="r_hbase_n">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="21" type="text" formControlName="r_vprism_n"  class="form-control" placeholder="" name="r_vprism_n">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="22" type="text" formControlName="r_vbase_n"  class="form-control" placeholder="" name="r_vbase_n">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="23" type="text" formControlName="r_nva"  class="form-control" placeholder="" name="r_nva">
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="tbl_head_td">LE</td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="24" type="text" formControlName="l_mf_add"  class="form-control" placeholder="" name="l_mf_add">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="25" type="text" formControlName="l_hprism_n"  class="form-control" placeholder="" name="l_hprism_n">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="26" type="text" formControlName="l_hbase_n"  class="form-control" placeholder="" name="l_hbase_n">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="27" type="text" formControlName="l_vprism_n"  class="form-control" placeholder="" name="l_vprism_n">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="28" type="text" formControlName="l_vbase_n"  class="form-control" placeholder="" name="l_vbase_n">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <input tabindex="29" type="text" formControlName="l_nva"  class="form-control" placeholder="" name="l_nva">
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div style="clear:both;"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- panel body close -->
                </div><!-- panel close -->
                <div style="clear:both;"></div>
                <!-- 2nd accordation end -->
                <!-- 3rd accordation -->
                <div class="panel panel-default margin_acc">
                  <div class="panel-heading portlet box blue no_margin">
                    <h4 class="panel-title">
                      <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_3"> Require Spectacles For </a>
                    </h4>
                  </div>
                  <div id="collapse_3_3" class="panel-collapse in">
                    <div class="portlet-body form">
                      <div class="col-md-12 blue-border">
                        <div class="form-body form-no-padding">
                          <div class="col-md-12 col-xs-12">
                            <div class="md-radio-inline">
                              <div class="md-radio">
                                <input tabindex="30" type="radio" formControlName="prisms_for" id="checkbox1_1" name="prisms_for" value="1" class="form-body form-no-padding">
                                <label for="checkbox1_1">
                                  <span></span>
                                  <span class="check"></span>
                                  <span class="box"></span>Distance & Near</label>
                                </div>
                                <div class="md-radio">
                                  <input tabindex="31" type="radio" formControlName="prisms_for" id="checkbox1_2" name="prisms_for" value="2" class="form-body form-no-padding">
                                  <label for="checkbox1_2">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span>Distance Only</label>
                                  </div>
                                  <div class="md-radio">
                                    <input tabindex="32" type="radio" formControlName="prisms_for" id="checkbox1_3" name="prisms_for" value="3" class="form-body form-no-padding">
                                    <label for="checkbox1_3">
                                      <span></span>
                                      <span class="check"></span>
                                      <span class="box"></span>Near Only</label>
                                    </div>
                                    <div class="md-radio">
                                      <input tabindex="33" type="radio" formControlName="prisms_for" id="checkbox1_4" name="prisms_for" value="4" class="form-body form-no-padding">
                                      <label for="checkbox1_4">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> None</label>
                                      </div>

                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- 3rd accordation end -->
                        <div style="clear:both;"></div>
                        <!-- 4th accordation -->
                        <div class="panel panel-default margin_acc">
                          <div class="panel-heading portlet box blue no_margin">
                            <h4 class="panel-title">
                              <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_4"> Recall Details</a>
                            </h4>
                          </div>
                          <div id="collapse_3_4" class="panel-collapse in">
                            <div class="portlet-body form">
                              <div class="col-md-12 blue-border">
                                <div class="form-body form-no-padding">
                                  <div class="col-md-6 form-no-padding">
                                    <div class="col-md-12">
                                      <div class="form-group">
                                        <label class="col-md-4 col-xs-12 control-label">Re-examination After
                                        </label>
                                        <div class="col-md-6 col-xs-12">
                                          <select (change)="reExamination_change()" formControlName="reExamination_after" class="form-control" name="title">
                                            <option *ngFor="let period of reExaminate_after_arr" value="{{period}}">{{period}} Month<span *ngIf="period>1">s</span></option>
                                          </select>
                                        </div>
                                      </div>
                                    </div>
                                    <div style="clear:both;"></div>
                                    <div class="divider_height"></div>
                                    <div class="col-md-12">
                                      <div class="form-group">
                                        <label class="col-md-4 col-xs-12 control-label">Re-examination Advised
                                        </label>
                                        <div class="col-md-6 col-xs-12">
                                          <input  tabindex="34" readonly formControlName="reExamination_advised"  type="text" class="form-control example1" placeholder="" name="name" >
                                        </div>
                                      </div>
                                    </div>
                                    <div style="clear:both;"></div>
                                    <div style="clear:both;"></div>
                                    <div class="divider_height"></div>
                                  </div>
                                  <div class="col-md-6 form-no-padding">
                                    <div class="form-group form-md-checkboxes">
                                      <div class="col-md-12" formArrayName="recall_details">
                                        <div class="md-checkbox" *ngFor="let def of examinationForm.controls.recall_details.controls; let i = index">
                                          <input tabindex="35" type="checkbox" name="recall_details" formControlName="{{i}}" id="checkbox_11{{i}}" value="{{i}}" class="md-check">
                                          <label for="checkbox_11{{i}}">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span>{{recall_values[i]}}</label>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div style="clear:both;"></div>
                          <!-- 4th accordation end -->
                          <!-- 5th accordation -->
                          <div class="panel panel-default margin_acc">
                            <div class="panel-heading portlet box blue no_margin">
                              <h4 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled acc_color" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_5"> Other Details</a>
                              </h4>
                            </div>
                            <div id="collapse_3_5" class="panel-collapse in">
                              <div class="portlet-body form">
                                <div class="col-md-12 blue-border">
                                  <div class="form-body form-no-padding">
                                    <div class="col-md-12">
                                      <div class="col-md-6 col-xs-10">
                                        <h4 class="margin_btm_20" style="margin-top: 6px;">Product Recommendation</h4>
                                      </div>
                                      <div class="form-group form-md-checkboxes">
                                        <div class="col-md-12">
                                          <div class="md-checkbox-inline" formArrayName="product_recommendation">
                                            <div class="md-checkbox" *ngFor="let def of examinationForm.controls.product_recommendation.controls; let i = index">
                                              <input tabindex="36" type="checkbox" name="product_recommendation" formControlName="{{i}}" id="checkbox_{{i}}" value="{{i}}" class="md-check">
                                              <label for="checkbox_{{i}}">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>{{product_recommendation[i]}}</label>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div style="clear:both;"></div>
                                      <div class="divider"></div>
                                      <div class="col-md-6">
                                        <h4 class="margin_btm_20">Internal Notes</h4>
                                        <textarea tabindex="37" formControlName="internal_notes" class="form-control" rows="3" name="name"></textarea>
                                      </div>
                                      <div class="col-md-6">
                                        <h4 class="margin_btm_20">Advice Given</h4>
                                        <textarea tabindex="38" formControlName="advice_given" class="form-control" rows="3" name="name"></textarea>
                                      </div>
                                      <div style="clear:both;"></div>
                                      <div class="divider"></div>
                                      <div class="col-md-12">

                                        <div class="form-actions" style="border:0px;float:right;">
                                          <div class="row">
                                            <div class="col-md-12">
                                              <button class="btn blue" (click)="examination()">{{btn_title}}</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div style="clear:both;"></div>
                          </form>
                        </div><!-- close accordation -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
