<h1 class="page-title"> Inventory Details </h1>

<div class="row">
  <div class="col-md-12">
    <div class="tabbable-line boxless tabbable-reversed">
      <div class="tab-content no-border">
        <div class="tab-pane active" >
          <div class="panel-group accordion" id="accordion3">
            <app-frame-inventory [(inventory)]="inventory" [(title)]="type" *ngIf="type=='1' || type=='2'"></app-frame-inventory>
            <app-lens-inventory [(inventory)]="inventory" *ngIf="type=='4'"></app-lens-inventory>
            <app-cis-inventory [(inventory)]="inventory" *ngIf="type=='3'"></app-cis-inventory>
            <app-accessories-inventory [(inventory)]="inventory" *ngIf="type=='5'"></app-accessories-inventory>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
